@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    min-height: 100vh;
    position: relative;
    overflow: hidden;
}

#Background1,
#Background2 {
    position: absolute;
    top:-20%;
    left: 0;
    height: 121%;
    width: 100%;
    transition: opacity 0.9s;
    z-index: -1;
}



body.dark-mode #Background1 {
    opacity: 0;
}

body.dark-mode #Background2 {
    opacity: 1;
}

  
#particles{
    position: absolute;
    height: 100vh;
    top: -100px;
}