    <nav>
        <a href="/">
        <div class="logo">
            <img src="./img/HelpOps-H Fevicon.png" alt="Logo">
        </div>
    </a>
        <ul class="nav-links">
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/team">Team</a></li>
            <li><a href="/#contact">Contact</a></li>
        </ul>
        <div class="nav-actions">
            <a href="https://github.com/sponsors/mdazfar2">
                <button class="sponsor-btn">Sponsor <i id="heart"  class="fas fa-heart"></i></button>
              </a>  
        </div>
    </nav>
