.nav {
    width: 100%;
    display: block;
    justify-content: flex-end;
    z-index: 10;
    display: flex;
    justify-content: end;
    align-content: center;
    align-items: center;
    font-weight: 300;
    /* transition: 0.2s ease-in-out; */
    /* transition: transform 400ms ease-in-out; */
    /* position: fixed; */
  }
  ul{
    flex-wrap: wrap;
    justify-content: center;
  }
  .team-button {
    display: flex;
    align-items: center;
    color:white;
    box-shadow: 5px 5px 20px #00ccff;
    border: none;
    gap: 7px;
    border-radius: 8px; /* Rounded corners */
    padding: 10px 20px; /* Padding around text */
    font-size: 20px; /* Text size */
    cursor: pointer;
    outline: none;
    top: 20px; /* Distance from the top */
    right: 20px; /* Distance from the right */
    transition: 0.5s;
  }
  .team-button svg{
    color: #00ccff;
  
  }
  .team-button:hover {
    transform: scale(1.2);
    background-color: white;
    /* color: black;
    box-shadow: 5px 5px 20px #00ccff; */
  }
  .nav__list {
   /* list-style: none; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-left: 55vh;
    margin-top: -49px;
    padding: 0vh 4vw;  */
    padding: 3vh 5vw;;
    list-style: none;
    display: flex;
    justify-content: center;
    /* margin-left: 55vh; */
    margin-bottom: 40px;
    /* margin: auto; */
    padding: 0vh 4vw;
  }
  
  .nav__link {
    color: inherit;
    text-decoration: none;
    margin-right: 50px;
    position: relative;
    font-family: "Raleway", sans-serif;
    padding: 16px 0;
    margin: 0 12px;
    letter-spacing: 1px;
    line-height: 16px;
    font-weight: 700;
    transition: color 0.1s, background-color 0.1s, padding 0.2s ease-in;
    /* color: #111; */
    text-decoration: none;
  }
  
  .nav-toggle {
    display: none;
  }
  #ourteam{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7px;
  }
 #ourteam p{
   font-size: 26px;
 } 
  
  .nav__link::before {
    content: "";
    display: block;
    position: absolute;
    bottom: 3px;
    left: 0;
    height: 3px;
    text-decoration: none;
    width: 100%;
    background-color: #000;
    transform-origin: right top;
    transform: scale(0, 1);
    transition: color 0.1s, transform 0.2s ease-out;
  }
  
  .nav__link:active::before {
    background-color: #000;
  }
  
  .nav__link:hover::before,
  .nav__link:focus::before {
    transform-origin: left top;
    transform: scale(1, 1);
    text-decoration: none;
  }
  
  .logo1 {
    padding: 3vh 5vw;
    text-align: center;
    display: flex;
    align-items: center;
    color: rgb(22, 8, 8);
    text-transform: uppercase;
    width: 25rem;
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    /* margin-top: 7px;*/
  }
  
  .smalllogo {
    display: none;
  }
  
  a {
    text-decoration: none;
    color: #111;
    text-decoration: none;
  }
  
  /* @media (max-width: 800px) {
    .nav {
      display: flex;
      justify-content: center;
      position: fixed;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: 100;
      transform: translateX(100%);
      transition: transform 400ms cubic-bezier(0.51, 0.6, 0.54, 0.59);
      height: 100vh;
    }
  
    .nav__list {
      list-style: none;
      display: flex;
      height: 100%;
      flex-direction: column;
      justify-content: space-evenly;
      text-align: center;
      margin: 0;
      padding: 135px;
      background-color: #111;
      width: 100%;
    }
  .nav__lisgt{
    .logo {
      display: none;
    }
    .smalllogo {
      padding: 4.7vh 8vw;
      text-align: center;
      display: flex;
      align-items: center;
      color: #111;
      text-transform: uppercase;
      font-family: "Raleway", sans-serif;
      font-weight: 800;
    }
  
    .logolink {
      text-decoration: none;
      color: #111;
    }
  
    .nav-toggle {
      display: block;
      padding: 2.3em;
      background: transparent;
      border: 0;
      cursor: pointer;
      position: absolute;
      right: 0.5rem;
      top: 1.1rem;
      /* left: 29rem; */
      /* z-index: 1000;
      outline: none;
    } */
  
    .nav__link {
      margin: 0;
      color: #fff;
      outline: none;
    }
  .nav__list{
    gap: 20px;
    align-items: end;
    outline: none;
  }
  li button{
    background-color: white;
    color: black !important;
    outline: none;
  }
  li button a{
    color: #00ccff !important;
    font-size: 1.5rem;
  }
  a{
    color: white ;
    font-size: 2rem;
  }
    .nav-open {
      overflow: hidden;
    }
  
    .nav-open .nav {
      transform: translateX(0);
      width: 100vw;
    }
  
    .nav-open .logo {
      display: none;
    }
  *{
    outline: none;;
  }
    .nav-open .hamburger {
      transform: rotate(0.625turn);
      background-color: #fff;
    }
  
    .nav-open .hamburger::before {
      transform: rotate(90deg) translateX(-6px);
      background-color: #fff;
    }
  
    .nav-open .hamburger::after {
      opacity: 0;
    }
  
    .hamburger {
      display: block;
      position: relative;
    }
  
    .hamburger,
    .hamburger::before,
    .hamburger::after {
      background-color: #111;
      width: 2em;
      height: 3px;
      border-radius: 1em;
      transition: transform 250ms ease-in-out;
      text-decoration: none;
    }
  
    .hamburger::before,
    .hamburger::after {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
    }
  
    .hamburger::before {
      top: 6px;
    }
  
    .hamburger::after {
      bottom: 6px;
    }
  
    .nav__item {
      color: #fff;
    }

    .nav__link::before {
      content: "";
      display: block;
      position: absolute;
      bottom: 3px;
      left: 0;
      height: 3px;
      width: 100%;
      background-color: #fff;
      transform-origin: right top;
      transform: scale(0, 1);
      transition: color 0.1s, transform 0.2s ease-out;
    }
  
    .nav__link:active::before {
      background-color: #fff;
      text-decoration: none;
    }
  
    .nav__link:hover::before,
    .nav__link:focus::before {
      transform-origin: left top;
      transform: scale(1, 1);
      text-decoration: none;
    }
  
  
  section {
    width: 100%;
    display: flex;
    margin: auto;
    text-decoration: none;
    align-items: center;
    min-height: 110vh;
  }
  
  .one {
    background-color: #fff;
    text-decoration: none;
  }
  
  .two {
    background-color: rgb(190, 183, 170);
    text-decoration: none;
  }
  
  .three {
    background-color: rgb(63, 118, 238);
  }
  
  .four {
    background-color: rgb(221, 22, 88);
  }
  
  .five {
    background-color: rgb(163, 114, 8);
  }
  #scrollToTopBtn {
    position: fixed;
    bottom: 45px; 
    left: 20px;    
    cursor: pointer;
    z-index: 1000; 
}

#scrollToTopBtn img {
  width: 50px;
  height: 50px;
  background: #5fabee;
  border-radius: 50%;
}