@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
.iconsclass{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
gap: 20px;
}
.iconsclass >a{
  color: white;
  font-size: 1.1rem;
}
.mm{
  margin: 0px !important;
}
.font{
  font-size: 0.8rem;
  font-family: sans-serif;
  color: black;
  font-weight:550;
}
.marg{
  margin-bottom: 20px;
}
.font a{
  text-decoration: underline;
}
.footer{
  gap: 11px;
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  flex-direction: column;
}
body {
  margin: 0;
  font-family: "Arial", sans-serif;
  background: linear-gradient(180deg, #fdd86c 8.1%, #ff7d1f 100%);
  overflow-x: hidden;
}
.hamburger div {
  width: 25px;
  height: 3px;
  background-color: #333;
  margin: 4px;
  transition: 0.4s;
}

.isDisplay {
  display: none;
}
.active {
  animation: animate forwards ease-in 0.2s;
  list-style: none;
  display: none;
  gap: 20px;
  padding: 10px 20px;
  background-color: #fdd76b;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  width: 100%;
}
.nav-links1 {
  height: 0px;
  overflow: hidden;
  position: relative;
  top: 30px;
  flex-direction: column;
  justify-content: space-around;
}
@keyframes animate {
  from {
    height: 0px;
  }
  to {
    height: 270px;
  }
}
.hamburger {
  display: none;
}
header {
  width: 100%;
  position: relative;
  top: 0;
  background-color: transparent;
  padding: 10px 0;
}

nav {
  display: flex;
  justify-content: space-between !important;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
  align-items: center;
  width: 90%;
  margin: 0 auto;
}

.logo img {
  position: relative;
  width: 89px;
  height: 89px;
  top: 10px;
  gap: 0px;
  opacity: 0px;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 50px;
  margin: 25px;
  padding: 12px 20px;
  background-color: #fdd86c;
  border-radius: 25px;
  flex-wrap: wrap;
  justify-content: center;
  box-shadow: 0 4px 6px #ff7d1f;
}

.nav-links li a {
  text-decoration: none;
  color: #101010;
  padding: 10px 15px;
  font-size: 22px;
  position: relative;
}
.nav-links li a::after{
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 3px;
  bottom: 4px;
  left: 0;
  background-color: #FF7D1F;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.nav-links li a:hover::after{ 
  transform: scaleX(1);
  transform-origin: bottom left;
}
.nav-actions {
  display: flex;
  align-items: center;
  gap: 10px;
}

.sponsor-btn {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 18px;
}
a {
  text-decoration: none;
}

.sponsor-btn {
  background-color: whitesmoke;
  border: none;
  border-radius: 25px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  color: #000000;
  font-size: 24px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7px;
  transition: transform 0.1s ease;
  width: 150px;
  padding: 7px 7px;
  font-family: Arial, Helvetica, sans-serif !important;
  margin-right: 7px;
}
@media only screen and (max-width:409px){
  .nav-actions{
    position: fixed;
    top: 10px;
    left: 3% !important;
  }
}
.text-desc{
  padding-left: 0px !important;
}
.sponsor-btn:active {
  transform: translateY(1px);
}
.text-container p{
  margin-left: 0px !important;
}
#heart {
  color: red;
}
.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}
.about_title {
  text-align: center;
  font-size: 48px !important;
  color: black;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}
.video {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem 0rem;
  filter: drop-shadow(0 4px 6px #ff7d1f);
}

video{
  border-top-left-radius : 40px;
  border-bottom-right-radius : 40px;
  border-top-right-radius : 40px;
  border-bottom-left-radius : 40px;
  width: 80%;
  height: 80%;
}

.start {
  width: 80%;
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  height: auto;
  overflow-x: hidden;
  margin-top: 25px;
}
.end {
  width: 80%;
  display: flex;
  flex-direction: row;
  height: auto;
  overflow-x: hidden;
  margin-top: 25px;
}
.start .img-container {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.end .img-container {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.text-container {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.text-title {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}
.text-desc {
  font-size: larger;
  text-align: justify;
  color: rgb(2 6 23) !important;
}
.end .text-title {
  text-align: center;
}

.about_logo{
  width: 180px;
  transition: transform 0.5s ease;
  margin-right: 15px;
}
.mission {
  width: 300px;
  transition: transform 0.5s ease;
}
.benefit{
  width: 400px;
  transition: transform 0.5s ease;
}
.img-container img:hover {
  transform: scale(0.9);
}

@media only screen and (max-width: 987px) {
  .nav-links {
    display: none !important;
  }
  .hamburger {
    display: block !important;
  }
  .active{
    display: flex;
  }
  .nav-links1 li a {
    text-decoration: none;
    color: #000;
    padding: 10px 15px;
    font-size: x-large;
  }
}

@media only screen and (max-width: 790px) {
  nav {
    gap: 10%;
  }
}

@media only screen and (max-width: 329px) {
  .hamburger {
    width: 100% !important;
  }
  .hamburger div {
    position: relative;
    left: 80%;
  }
  nav {
    flex-direction: column-reverse;
  }
  .isDisplay {
    display: block;
  }
  .nav-actions  !{
    display: none !important;
  }
  .sponsor-btn {
    font-size: 16px !important;
    width: 114px !important;
    height: 46px !important;
  }
}

@media only screen and (max-width: 300px) {
  nav {
    gap: 2% !important;
  }
}
@media only screen and (max-width: 409px) {
  nav {
    gap: 5% !important;
  }
  .logo img {
    width: 60px !important;
    height: 60px !important;
  }
}

@media only screen and (max-width: 769px) {
  .end {
    flex-direction: column;
  }
  .start {
    flex-direction: column;
  }
  .img-container {
    width: 100% !important;
  }
  .start .img-container {
    justify-content: center;
  }
  .end .img-container {
    justify-content: center;
  }
  .text-container {
    width: 100% !important;
  }
}
.text-container h1{
  font-size: 40px !important;
  text-align: left;
  font-weight: 600;
}
/* loader css */
.loaderbox {
  display: block;
  position: relative;
  left: 50%;
  top: 50%;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  z-index: 99999;
}
.loader {
    width: 8em;
    height: 8em;
  }
  
  .loader-ring {
    animation: ringA 2s linear infinite;
  }
  
  .loader-ring-a {
    stroke: #f42f25;
  }
  
  .loader-ring-b {
    animation-name: ringB;
    stroke: #f49725;
  }
  
  .loader-ring-c {
    animation-name: ringC;
    stroke: #255ff4;
  }
  
  .loader-ring-d {
    animation-name: ringD;
    stroke: #f42582;
  }
  
  /* Animations */
  @keyframes ringA {
    from, 4% {
      stroke-dasharray: 0 660;
      stroke-width: 20;
      stroke-dashoffset: -330;
    }
  
    12% {
      stroke-dasharray: 60 600;
      stroke-width: 30;
      stroke-dashoffset: -335;
    }
  
    32% {
      stroke-dasharray: 60 600;
      stroke-width: 30;
      stroke-dashoffset: -595;
    }
  
    40%, 54% {
      stroke-dasharray: 0 660;
      stroke-width: 20;
      stroke-dashoffset: -660;
    }
  
    62% {
      stroke-dasharray: 60 600;
      stroke-width: 30;
      stroke-dashoffset: -665;
    }
  
    82% {
      stroke-dasharray: 60 600;
      stroke-width: 30;
      stroke-dashoffset: -925;
    }
  
    90%, to {
      stroke-dasharray: 0 660;
      stroke-width: 20;
      stroke-dashoffset: -990;
    }
  }
  
  @keyframes ringB {
    from, 12% {
      stroke-dasharray: 0 220;
      stroke-width: 20;
      stroke-dashoffset: -110;
    }
  
    20% {
      stroke-dasharray: 20 200;
      stroke-width: 30;
      stroke-dashoffset: -115;
    }
  
    40% {
      stroke-dasharray: 20 200;
      stroke-width: 30;
      stroke-dashoffset: -195;
    }
  
    48%, 62% {
      stroke-dasharray: 0 220;
      stroke-width: 20;
      stroke-dashoffset: -220;
    }
  
    70% {
      stroke-dasharray: 20 200;
      stroke-width: 30;
      stroke-dashoffset: -225;
    }
  
    90% {
      stroke-dasharray: 20 200;
      stroke-width: 30;
      stroke-dashoffset: -305;
    }
  
    98%, to {
      stroke-dasharray: 0 220;
      stroke-width: 20;
      stroke-dashoffset: -330;
    }
  }
  
  @keyframes ringC {
    from {
      stroke-dasharray: 0 440;
      stroke-width: 20;
      stroke-dashoffset: 0;
    }
  
    8% {
      stroke-dasharray: 40 400;
      stroke-width: 30;
      stroke-dashoffset: -5;
    }
  
    28% {
      stroke-dasharray: 40 400;
      stroke-width: 30;
      stroke-dashoffset: -175;
    }
  
    36%, 58% {
      stroke-dasharray: 0 440;
      stroke-width: 20;
      stroke-dashoffset: -220;
    }
  
    66% {
      stroke-dasharray: 40 400;
      stroke-width: 30;
      stroke-dashoffset: -225;
    }
  
    86% {
      stroke-dasharray: 40 400;
      stroke-width: 30;
      stroke-dashoffset: -395;
    }
  
    94%, to {
      stroke-dasharray: 0 440;
      stroke-width: 20;
      stroke-dashoffset: -440;
    }
  }
  
  @keyframes ringD {
    from, 8% {
      stroke-dasharray: 0 440;
      stroke-width: 20;
      stroke-dashoffset: 0;
    }
  
    16% {
      stroke-dasharray: 40 400;
      stroke-width: 30;
      stroke-dashoffset: -5;
    }
  
    36% {
      stroke-dasharray: 40 400;
      stroke-width: 30;
      stroke-dashoffset: -175;
    }
  
    44%, 50% {
      stroke-dasharray: 0 440;
      stroke-width: 20;
      stroke-dashoffset: -220;
    }
  
    58% {
      stroke-dasharray: 40 400;
      stroke-width: 30;
      stroke-dashoffset: -225;
    }
  
    78% {
      stroke-dasharray: 40 400;
      stroke-width: 30;
      stroke-dashoffset: -395;
    }
  
    86%, to {
      stroke-dasharray: 0 440;
      stroke-width: 20;
      stroke-dashoffset: -440;
    }
  }
  /* .text-container p{
    color: black !important;
  } */
   .text-container p{
    color: rgb(2 6 23) !important;
   }
 
  #loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1001;
}

#loader-wrapper .loader-section {
    position: fixed;
    top: 0;
    width: 51%;
    height: 100%;
    background: linear-gradient(180deg, #FDD86C 8.1%, #FF7D1F 100%);
    z-index: 1000;
    -webkit-transform: translateX(0);
    transform: translateX(0);
}

#loader-wrapper .loader-section.section-left {
    left: 0;
}

#loader-wrapper .loader-section.section-right {
    right: 0;
}

.loaded #loader-wrapper {
    visibility: hidden;
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
    -webkit-transition: all 0.3s 1s ease-out;
    transition: all 0.3s 1s ease-out;
}

.loaded #loader-wrapper .loader-section.section-left {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.loaded #loader-wrapper .loader-section.section-right {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.loaded .loaderbox {
    opacity: 0;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
} 
.dark-mode .text-desc{
    color: white !important;
    font-family: Arial, Helvetica, sans-serif;
  }
  .test-desc{
    font-family: Arial, Helvetica, sans-serif;
  }