/* Light theme */
.join-team {
    display: flex;
    align-items: center;
    background-color: white;
    padding: 24px 16px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin-left: 70px;
    margin-right: 60px;
    gap: 0px;
    border-radius: 23px 0px 0px 0px;
    opacity: 1;
}

.join-button {
    display: block;
    margin: 20px;
    padding: 10px 20px;
    font-size: 16px;
    background: #FF6B008A;
    color: white;
    border: none;
    box-shadow: 0px 4px 4px 0px #00000040;
    border-radius: 23px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.join-button:hover {
    background-color: #6749e8;
}

/* Dark theme */
.dark .join-team {
    background-color: #2C3E50; /* Dark background color */
    box-shadow: 0 2px 10px rgba(255, 255, 255, 0.1); /* Adjust shadow for dark mode */
}

.dark .text-content h2 {
    color: #ECF0F1; /* Light text color */
}

.dark .text-content p {
    color: #BDC3C7; /* Lighter text color */
}

.dark .join-button {
    background-color: #34495E;
    color: #ECF0F1;
}

.dark .join-button:hover {
    background-color: #6749e8; /* Adjust hover color for dark mode */
}
