body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(180deg, #FDD86C 8.1%, #FF7D1F 100%);
}
.iconsclass{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
gap: 20px;
}
.iconsclass >a{
  color: white;
  font-size: 1.1rem;
}
.mm{
  margin: 0px !important;
}
.font{
  font-size: 0.8rem;
  font-family: sans-serif;
  color: black;
  font-weight:550;
}
.marg{
  margin-bottom: 20px;
  margin-top: 42px !important;
}
.font a{
  text-decoration: underline;
}
.footer{
  gap: 11px;
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  flex-direction: column;
}
#team-grid {
    margin-left: 1rem;
    margin-right: 1rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    gap: 2rem;
    margin-top: 0px;
    /* height: 300px; */
    transform: scale(0.95);
  }
  header {

    padding: 1rem;
  }
  .team-member {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #FF7D1FA8;

    border-radius: 20px;
    /* border: solid; */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    padding: 20px;
   /* background-color: gray; */
    margin-left: 20px;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: 0.5s;
    
  }
  .team-member:hover{
    transform: scale(1.03);
  }
  
  .team-member2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: whitesmoke;
    border-radius: 20px;
    /* border: solid; */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    padding: 20px;
   /* background-color: gray; */
   gap: 10px;
    margin-left: 20px;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: 0.5s;
  }
  .team-member2:hover{
    transform: scale(1.03);
  }
  .card1 {
    background: #4285F45C;
    ;
    /* padding: 2rem; */
    padding-top: 2rem;
    border-radius: 2rem;
    border-color: #3498db;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
  }
  .margin{
    margin-left:180px ;
    margin-right:180px ;
  }
  .card2 {
    background: #FBBC0591;


    padding-top: 2rem;
    border-radius: 2rem;
    border-color: #3498db;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    position: relative;
  }
  .card3 {
    background: #34A8535E;


    padding-top: 2rem;
    border-radius: 2rem;
    border-color: #3498db;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    position: relative;
  }
  .card4 {
    background: #EA43354D;
    ;
  
    padding-top: 2rem;
    border-radius: 2rem;
    border-color: #3498db;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    position: relative;
  }
/* Common styles for all social links */
#team-grid .team-member #social-links a i
{
  transition: color 0.3s, transform 0.3s;
}
#team-grid .team-member:nth-child(1) #social-links a i:hover 
{
  color: #4285F45C; 
  transform: scale(1.1);
}
#team-grid .team-member:nth-child(2) #social-links a i:hover 
{
  color: #FBBC0591;
  transform: scale(1.1);
}
#team-grid .team-member:nth-child(3) #social-links a i:hover 
{
  color: #34A8535E; 
  transform: scale(1.1);
}
#team-grid .team-member:nth-child(4) #social-links a i:hover 
{
  color: #EA43354D; 
  transform: scale(1.1);
}
  .image-div {
    flex: none;
    text-align: center;
  }

  
  .image-div img {
    border-radius: 50%;
    width: 8%;
  }
  
  .info-div {
    text-align: center;
    margin-top: 5px;
  }
  
  
  
  #team-grid1 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 10px;
    margin-left: 2rem;
    margin-right: 2rem;
    padding: 30px;

  }
  #heart{
    color: red;
}

  #ourteam{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 160px;
    font-family: cursive;
    font-size: 24px;
  }
  
  .badge {
    position: relative;
    bottom: 280px;
    left: 230px;
     display: inline-block;
    padding: 2px 10px;
    border-radius: 20px;
    font-size: 1em;
  }
  .Lead{
    background: #FBBC05A8;
    left: 225px;
    color: #fff;
  }
  .UI{
    background: #34A85370;
    left: 240px;
    color: #fff;
  }
  .Maintainer{
    background: #EA433578;


    color: #fff;
  }
  .founder {
    background: #4285F47D;
    color: #fff;
  }
  
  .maintainer {
    background-color: #dc9af8;
    color: #fff;
  }
  .main-content {
    flex: 1;
    padding: 20px;
  }
  
  #social-links{
    display: flex;
    flex-direction: column;
    /* margin-left: 20px; */
    margin-right: 20px;
    font-size: 40px;
    gap: 60px;
  }
  .sponsor-btn {
    background-color: whitesmoke;
    border: none;
    border-radius: 25px; /* Rounded corners */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Drop shadow effect */
    color: #000000; /* Black text color */
    font-size: 24px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7px; /* Space between icon and text */
    transition: transform 0.1s ease; /* Smooth click effect */
    width: 150px;
    padding: 7px 7px ;
    font-family:cursive;
    margin-right: 7px;

}
a{
  text-decoration: none;
}
.sponsor-btn:active{
  transform:translateY(1px) ;
}
  
  
  #social-links a i {
    margin-right: 5px;
    color: white;
  }
  
  #social-links a:hover {
    color: #89d2fc;
  }
   #group{
    color: black;
   }
  
  .social-links a {
    display: flex;
    align-items: center;
    color: rgb(215, 208, 208);
    margin: 5px 0;
    text-decoration: none;
  }
  
  .social-links a i {
    margin-right: 5px;
  }
  
  .social-links a:hover {
    color: #89d2fc;
  }
   #group{
    color: black;
   }
   .image-div img{
    height: 150px;
    width: 150px;
   }
   .image-div1 img{
    height: 200px;
    width: 200px;
    border-radius: 50%;
   }
   #team {
    gap:5px ;
    display: flex;
    align-items: center;
    color: rgb(0, 0, 0);
  }
  #team h4{
    font-size: 10px;
  }
  #load-more {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    font-size: 16px;
    background: #FF6B008A;

    color: white;
    border: none;
    box-shadow: 0px 4px 4px 0px #00000040;

    border-radius: 23px;
    cursor: pointer;
    transition: background-color 0.2s;
  }
  .dark #load-more{
    background: linear-gradient(180deg, #2C3E50 8.1%, #4CA1AF 100%);
      color: #ECF0F1;
  }
  #load-more:hover {
    background-color: #0056b3;
  }
  .trophy-card{
    background-color: #FDD86C;
    color:black;
    border-radius: 18px;
    }
    .dark .trophy-card{
      background: black;
      color: #ECF0F1;
    }
    .trophy{
      height: 66px;
      position: relative;
      top: 20px;
    }
    body.dark {
      background: linear-gradient(180deg, #2C3E50 8.1%, #4CA1AF 100%);
      color: #ECF0F1;
  }
  