body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(180deg, #FDD86C 8.1%, #FF7D1F 100%);
}
.iconsclass{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
gap: 20px;
}
.iconsclass >a{
  color: white;
  font-size: 1.1rem;
}
.mm{
  margin: 0px !important;
}
.font{
  font-size: 0.8rem;
  font-family: sans-serif;
  color: black;body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(180deg, #FDD86C 8.1%, #FF7D1F 100%);
  }
  body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  background: linear-gradient(180deg, #FDD86C 8.1%, #FF7D1F 100%);
  
  
  overflow-y: scroll;
  height: auto;
  }
  .hamburger div {
          width: 25px;
          height: 3px;
          background-color: #333;
          margin: 4px;
          transition: 0.4s;
      }
      @media only screen and (max-width:200px) {
  .sponsor-btn{
      font-size: 12px !important;
      width: 90px !important;
      height: 46px !important;
  }
  .star-button{
      font-size: 12px !important;
      width: 90px !important;
  }
  }
  @media only screen and (max-width:497px){
  h1{
  font-size: 40px !important;
  }
  .main-content{
  gap: 30px;
  }
  }
  @media only screen and (max-width:347px){
  .logo{
      position: relative;
      top: 40px;
  }
  h1{
  font-size: 30px !important;
  }
  .get-started-btn{
  position: relative;
  }
  p{
  font-size: 17px !important;
  }
  }
  /* body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  background: linear-gradient(180deg, #FDD86C 8.1%, #FF7D1F 100%);
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* height: 100vh; */
  /* } */
  @media only screen and (max-width:987px){
  .nav-links{
    display: none !important;
  }
  
  .hamburger{
  display: block !important;
  }
  /* nav{
    gap: 30%;
  } */
  .nav-links1 li a {
    text-decoration: none;
    color: #000;
    padding: 10px 15px;
    font-size: x-large;
   
  }
  }
  .isDisplay{
  display: none;
  }
  .active{
  animation: animate forwards ease-in 0.2s;
  list-style: none;
  display: flex;
  gap: 20px;
  padding: 10px ;
  background-color: #fdd76b;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  
  /* box-shadow: 0 4px 6px #FF7D1F; */
  width: 100%;
  }
  @media only screen and (max-width:790px) {
  nav{
    gap: 10%;
  }
  }
  
  
  @media only screen and (max-width:329px){
  .hamburger{
    width: 100% !important;
   
  }
  .star-button{
  font-size: 16px !important;
  width: 114px !important ;
  }
  .hamburger div{
    position: relative;
    left: 80%;
  }
  nav{
    flex-direction: column-reverse;
  }
  .isDisplay{
    display: block;
  }
  .conte{
    display: flex;
    width: 100%;
    justify-content: space-around;
  }
  .sponsor-btn{
  position: relative;
  top: 100px !important;
  }
  .nav-actions{
  
    display: none !important;
  }
  .sponsor-btn{
    font-size: 16px !important;
    width: 114px !important;
    height: 46px !important;
  }
  .star-button{
    font-size: 16px !important;
    width: 114px !important ;
  }
  }
  @media only screen and (max-width:300px) {
  
  
  nav{
    gap: 2% !important;
  }
  }
  @media only screen and (max-width:409px) {
  nav{
    gap: 5% !important;
  }
  
  .logo img{
    width: 60px !important;
    height: 60px !important;
  }
  /* @keyframes animate {
    from{
        height: 0px;
    }to{
        height: 300px ;
    }
  } */
  }
  
  
  @media only screen and (max-width:500px){
  .data7{
    display: none !important; 
  }
  .badge7{
    visibility: hidden;
  }
  .card7{
    border-radius: 50% !important;
    padding-top: 30px !important;
    padding-bottom: 30px !important;
    height: 205px !important;
  width: 221px;
  width: 207px !important;
  margin-top: 8px;
  padding: 0px !important;
  }
  .team-member7{
    border-radius: 50% !important;
    height: 221px;
  width: 221px;
  padding: 0px !important;
  }
  .info-div7 p{
    display: none;
  }
  }
  @media only screen and (max-width:470px){
  .card7{
    height: 185px !important;
  width: 187px !important;
  }
  .team-member7{
    height: 201px !important;
  width: 201px !important;
  }
  }
  @media only screen and (max-width:430px){
  .card7{
    height: 155px !important;
  width: 155px !important;
  }
  .info-div7 h2{
    display: none !important;
  }
  .team-member7{
    height: 171px !important;
  width: 171px !important;
  }
  }
  @media only screen and (max-width:370px){
  .card7{
    height: 125px !important;
  width: 125px !important;
  }
  .info-div7 h2{
    display: none !important;
  }
  .team-member7{
    height: 141px !important;
  width: 141px !important;
  }
  .image-div7 img{
    height: 80px !important;
    width: 80px !important;
  }
  }
  .footer {
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  font-family: "Times New Roman", Times, serif;
  }
  .font{
  font-size: 1rem;
  text-align: center;
  }
  .h{
  line-height: 1.75rem !important;
  }
  .icons{
  width: 100%;
  justify-content: center;
  display: flex;
  gap: 20px;
  font-size: 26px;
  }
  .nav-links1{
  height: 0px ;
  overflow: hidden;
  display: flex;
  position: relative;
  top: 30px;
  flex-direction: column;
  justify-content: space-around;
  }
  @keyframes animate {
  from{
    height: 0px;
  }to{
    height: 270px ;
  }
  }
  .hamburger{
  display: none;
  }
  header {
  width: 100%;
  position: relative;
  top: 0;
  background-color: transparent;
  padding: 10px 0;
  }
  
  nav {
  display: flex;
  justify-content: space-between !important;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
  align-items: center;
  width: 90%;
  margin: 0 auto;
  }
  
  .logo img {
  /* height: 100px;
  width: 100px; */
  position: relative;
  width: 89px;
  height: 89px;
  top: 10px;
  gap: 0px;
  opacity: 0px;
  
  
  }
  
  .nav-links {
  list-style: none;
  display: flex;
  gap: 50px;
  margin: 25px;
  padding: 10px 20px;
  background-color: #FDD86C;
  border-radius: 25px;
  flex-wrap: wrap;
  justify-content: center;
  box-shadow: 0 4px 6px #FF7D1F;
  }
  
  .nav-links li a {
  text-decoration: none;
  color: #000;
  padding: 10px 15px;
  font-size: x-large;
  
  }
  .nav-actions {
  display: flex;
  align-items: center;
  gap: 10px;
  }
  
  .search-btn, .sponsor-btn {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 18px;
  
  }
  a{
  text-decoration: none;
  }
  .search-btn {
  background-color: transparent;
  border-radius: 5px;
  padding: 5px 10px;
  }
  
  .sponsor-btn {
  background-color: whitesmoke;
  border: none;
  border-radius: 25px; /* Rounded corners */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Drop shadow effect */
  color: #000000; /* Black text color */
  font-size: 24px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7px; /* Space between icon and text */
  transition: transform 0.1s ease; /* Smooth click effect */
  width: 150px;
  padding: 7px 7px ;
  font-family:cursive;
  margin-right: 7px;
  
  }
  
  .sponsor-btn:active{
  transform:translateY(1px) ;
  }
  #heart{
  color: red;
  }
  @media only screen and (max-width:592px){
  h1{
    font-size: 60px !important;
  }
  }
  @media only screen and (max-width:332px){
  h1{
    font-size: 40px !important;
  }
  a{
  display: flex;
  justify-content: center;
  }
  }
  main{
  height: auto ;
  min-height: 84vh !important;
  }
  
  .main-content {
  text-align: center;
  margin-top: 80px;
  
  }
  
  .get-started-btn {
  background-color: #fff;
  border-radius: 25px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  
  
  }
  
  .star-button {
  background-color: whitesmoke;
  border: none;
  border-radius: 25px; /* Rounded corners */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Drop shadow effect */
  color: #000000; /* Black text color */
  font-size: 24px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7px; /* Space between icon and text */
  transition: transform 0.1s ease; /* Smooth click effect */
  width: 150px;
  padding: 7px 7px ;
  font-family:cursive;
  }
  
  .star-button:active {
  transform: translateY(1px); /* Slight move down on click */
  }
  
  .star-icon {
  color: #FFD700; /* Yellow star color */
  font-size: 20px; /* Slightly larger than text */
  }
  
  .get-started-btn {
  /* background-color: #FFFFFF; White background */
  border: none;
  border-radius: 25px; /* Rounded corners */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Drop shadow effect */
  color: #000000; /* Black text color */
  font-size: 16px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7px; /* Space between icon and text */
  transition: transform 0.1s ease; /* Smooth click effect */
  width: 180px;
  background-color: whitesmoke;
  font-family:cursive;
  }
  .get-started-btn:active {
  transform: translateY(1px); /* Slight move down on click */
  }
  
  h1 {
  font-size: 96px;
  color: #000;
  margin: 0;
  font-family: 'Arial Black', sans-serif;
  }
  
  p {
  font-size: 24px;
  color: white;
  margin: 20px;
  font-family:cursive;
  }
  .iconsclass{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  }
  .iconsclass >a{
  color: white;
  font-size: 1.1rem;
  }
  .mm{
  margin: 0px !important;
  }
  .font{
  font-size: 0.8rem;
  font-family: sans-serif;
  color: black;
  font-weight:550;
  }
  .marg{
  margin-bottom: 20px;
  margin-top: 42px !important;
  }
  .font a{
  text-decoration: underline;
  }
  .footer{
  gap: 11px;
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  flex-direction: column;
  }
  #team-grid {
    margin-left: 1rem;
    margin-right: 1rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    gap: 2rem;
    margin-top: 0px;
    /* height: 300px; */
    transform: scale(0.95);
  }
  header {
  
    padding: 1rem;
  }
  .team-member {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #FF7D1FA8;
  
    border-radius: 20px;
    /* border: solid; */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    padding: 20px;
   /* background-color: gray; */
    margin-left: 20px;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: 0.5s;
    
  }
  .team-member:hover{
    transform: scale(1.03);
  }
  
  .team-member2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: whitesmoke;
    border-radius: 20px;
    /* border: solid; */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    padding: 20px;
   /* background-color: gray; */
   gap: 10px;
    margin-left: 20px;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: 0.5s;
  }
  .team-member2:hover{
    transform: scale(1.03);
  }
  .card1 {
    background: #4285F45C;
    ;
    /* padding: 2rem; */
    padding-top: 2rem;
    border-radius: 2rem;
    border-color: #3498db;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
  }
  .margin{
    margin-left:180px ;
    margin-right:180px ;
  }
  .card2 {
    background: #FBBC0591;
  
  
    padding-top: 2rem;
    border-radius: 2rem;
    border-color: #3498db;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    position: relative;
  }
  .card3 {
    background: #34A8535E;
  
  
    padding-top: 2rem;
    border-radius: 2rem;
    border-color: #3498db;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    position: relative;
  }
  .card4 {
    background: #EA43354D;
    ;
  
    padding-top: 2rem;
    border-radius: 2rem;
    border-color: #3498db;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    position: relative;
  }
  
  
  /* Common styles for all social links */
  #team-grid .team-member #social-links a i
  {
  transition: color 0.3s, transform 0.3s;
  }
  #team-grid .team-member:nth-child(1) #social-links a i:hover 
  {
  color: #4285F45C; 
  transform: scale(1.1);
  }
  #team-grid .team-member:nth-child(2) #social-links a i:hover 
  {
  color: #FBBC0591;
  transform: scale(1.1);
  }
  #team-grid .team-member:nth-child(3) #social-links a i:hover 
  {
  color: #34A8535E; 
  transform: scale(1.1);
  }
  #team-grid .team-member:nth-child(4) #social-links a i:hover 
  {
  color: #EA43354D; 
  transform: scale(1.1);
  }
  .image-div {
    flex: none;
    text-align: center;
  }
  
  
  .image-div img {
    border-radius: 50%;
    width: 8%;
  }
  
  .info-div {
    text-align: center;
    margin-top: 5px;
  }
  @media only screen and (max-width:536px){
  #team-grid1{
  width: 100% !important;
  display: flex !important;
  flex-wrap: wrap !important;
  justify-content: center !important;
  margin-left: 0px !important;
  margin-right: 0px !important;
  padding: 0px !important;
  }
  .badge{
  bottom: 295px !important;}
  }
  #team-grid {
  margin-left: 1rem;
  margin-right: 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  gap: 2rem;
  margin-top: 0px;
  /* height: 300px; */
  transform: scale(0.95);
  }
  header {
  
  padding: 1rem;
  }
  .team-member {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #FF7D1FA8;
  
  border-radius: 20px;
  /* border: solid; */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  padding: 20px;
  /* background-color: gray; */
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  transition: 0.5s;}
  .team-member:hover{
    transform: scale(1.03);
  }
  
  .team-member2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: whitesmoke;
    border-radius: 20px;
    /* border: solid; */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    padding: 20px;
   /* background-color: gray; */
   gap: 10px;
    margin-left: 20px;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: 0.5s;
  }
  .team-member2:hover{
    transform: scale(1.03);
  }
  .card1 {
    background: #4285F45C;
    ;
    /* padding: 2rem; */
    padding-top: 2rem;
    border-radius: 2rem;
    border-color: #3498db;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 80%;
    min-width: 200px;
  }
  .margin{
    margin-left:180px ;
    margin-right:180px ;
  }
  .card2 {
    background: #FBBC0591;
    width: 80%;
    min-width: 200px;
  
    padding-top: 2rem;
    border-radius: 2rem;
    border-color: #3498db;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    position: relative;
  }
  @media only screen and (max-width:335px){
    .card1{
      width: 60% !important;
      min-width: none !important;
    }
    .team-member{
      width: 88% !important;
    }
    .main-content{
      display: flex;
      justify-content: center;
    }
  }
  .trophy-card{
    margin: auto !important;
  }
  @media only screen and (max-width:592px){
    h1{
        font-size: 60px !important;
    }
    .trophy-card{
      width: 90% !important;
    }
  }
  @media only screen and (max-width:332px){
    h1{
        font-size: 40px !important;
    }
  }
  header {
  width: 100%;
  position: relative;
  top: 0;
  background-color: transparent;
  padding: 10px 0;
  }
  
  nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
  margin: 0 auto;
  }
  body{
  overflow-y: scroll;
  height: auto;
  }
  .nav-links {
  list-style: none;
  display: flex;
  gap: 50px;
  margin: 25px;
  padding: 10px 20px;
  background-color: #FDD86C;
  border-radius: 25px;
  flex-wrap: wrap;
  justify-content: center;
  box-shadow: 0 4px 6px #FF7D1F;
  }
  
  @media only screen and (max-width:464px){
    .trophy-card{
      flex-wrap: wrap;
      justify-content: center;
    }
  }
  @media only screen and (max-width:588px){
    .main-content{
      padding: 0px !important;
  
    }
    #team-grid{
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)) !important;
    }
    body{
      margin: 0px !important;
    }
    #team-grid .team-member{
      flex-direction: column;
      justify-self: center;
    }
    .card1{
      min-width: 0px !important;
      width: 80% !important;
    }
    .margin{
      margin: 0px !important;
    }
  }
  @media only screen and (max-width:588px){
    #team-grid .team-member{
      flex-direction: column;
  
    }
  
    #team-grid{
      margin-left: 0px !important;
      margin-right: 0px !important;
    }
    #social-links{
      flex-direction: row !important;
      margin-top: 10px;
    } 
    .team-member{
      width: 100%;
      padding: 5px !important;
    }
  }
  .card3 {
    background: #34A8535E;
  
  
    padding-top: 2rem;
    border-radius: 2rem;
    border-color: #3498db;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    position: relative;
    width: 80%;
    min-width: 200px;
  }
  .card4 {
    background: #EA43354D;
    ;
  
    padding-top: 2rem;
    border-radius: 2rem;
    border-color: #3498db;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    position: relative;
    width: 80%;
    min-width: 200px;
  }
  .image-div {
    flex: none;
    text-align: center;
  }
  
  
  .image-div img {
    border-radius: 50%;
    width: 8%;
  }
  
  .info-div {
    text-align: center;
    margin-top: 5px;
  }
  
  
  
  #team-grid1 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 10px;
    margin-left: 2rem;
    margin-right: 2rem;
    padding: 30px;
  
  }
  #heart{
    color: red;
  }
  @media only screen and (max-width:492px){
  .Maintainer{
    position: relative !important;
    left: 100px !important;
  }
  .UI{
    position: relative !important;
    left: 100px !important;
  }
  .founder{
    position: relative !important;
    left: 100px !important;
  }
  .Lead{
    position: relative !important;
    left: 100px !important;
  }
  }
  #ourteam{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: cursive;
    font-size: 24px;
  }
  
  .badge {
    position: relative;
    bottom: 311px;
    left: 230px;
     display: inline-block;
    padding: 2px 10px;
    border-radius: 20px;
    font-size: 1em;
  }
  .Lead{
    background: #FBBC05A8;
    left: 225px;
    color: #fff;
  }
  .UI{
    background: #34A85370;
    left: 240px;
    color: #fff;
  }
  .Maintainer{
    background: #EA433578;
  
  
    color: #fff;
  }
  .founder {
    background: #4285F47D;
    color: #fff;
  }
  
  .maintainer {
    background-color: #dc9af8;
    color: #fff;
  }
  .main-content {
    flex: 1;
    padding: 20px;
  }
  
  #social-links{
    display: flex;
    flex-direction: column;
    /* margin-left: 20px; */
    margin-right: 20px;
    font-size: 40px;
    gap: 60px;
  }
  .sponsor-btn {
    background-color: whitesmoke;
    border: none;
    border-radius: 25px; /* Rounded corners */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Drop shadow effect */
    color: #000000; /* Black text color */
    font-size: 24px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7px; /* Space between icon and text */
    transition: transform 0.1s ease; /* Smooth click effect */
    width: 150px;
    padding: 7px 7px ;
    font-family:cursive;
    margin-right: 7px;
  
  }
  a{
  text-decoration: none;
  }
  .sponsor-btn:active{
  transform:translateY(1px) ;
  }
  
  
  #social-links a i {
    margin-right: 5px;
    color: white;
  }
  
  #social-links a:hover {
    color: #89d2fc;
  }
   #group{
    color: black;
   }
  
  .social-links a {
    display: flex;
    align-items: center;
    color: rgb(215, 208, 208);
    margin: 5px 0;
    text-decoration: none;
  }
  
  .social-links a i {
    margin-right: 5px;
  }
  
  .social-links a:hover {
    color: #89d2fc;
  }
   #group{
    color: black;
   }
   .image-div img{
    height: 150px;
    width: 150px;
   }
   .image-div1 img{
    height: 200px;
    width: 200px;
    border-radius: 50%;
   }
   #team {
    gap:5px ;
    display: flex;
    align-items: center;
    color: rgb(0, 0, 0);
  }
  #team h4{
    font-size: 10px;
  }
  #load-more {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    font-size: 16px;
    background: #FF6B008A;
  
    color: white;
    border: none;
    box-shadow: 0px 4px 4px 0px #00000040;
  
    border-radius: 23px;
    cursor: pointer;
    transition: background-color 0.2s;
  }
  
  #load-more:hover {
    background-color: #0056b3;
  }
  .trophy-card{
    background-color: #FDD86C;
    color:black;
    border-radius: 18px;
    }
    .dark-mode .trophy-card{
      background-color: black;
      color:white;
    }
    .trophy{
      height: 66px;
      position: relative;
      top: 20px;
    }
  #team-grid1 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 10px;
    margin-left: 2rem;
    margin-right: 2rem;
    padding: 30px;
  
  }
  #heart{
    color: red;
  }
  
  #ourteam{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    font-family: cursive;
    font-size: 24px;
  }
  
  .badge {
    position: relative;
    bottom: 280px;
    left: 230px;
     display: inline-block;
    padding: 2px 10px;
    border-radius: 20px;
    font-size: 1em;
  }
  .Lead{
    background: #FBBC05A8;
    left: 225px;
    color: #fff;
  }
  .UI{
    background: #34A85370;
    left: 240px;
    color: #fff;
  }
  .Maintainer{
    background: #EA433578;
  
  
    color: #fff;
  }
  .founder {
    background: #4285F47D;
    color: #fff;
  }
  
  .maintainer {
    background-color: #dc9af8;
    color: #fff;
  }
  .main-content {
    flex: 1;
    padding: 20px;
  }
  
  #social-links{
    display: flex;
    flex-direction: column;
    /* margin-left: 20px; */
    margin-right: 20px;
    font-size: 40px;
    gap: 60px;
  }
  .sponsor-btn {
    background-color: whitesmoke;
    border: none;
    border-radius: 25px; /* Rounded corners */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Drop shadow effect */
    color: #000000; /* Black text color */
    font-size: 24px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7px; /* Space between icon and text */
    transition: transform 0.1s ease; /* Smooth click effect */
    width: 150px;
    padding: 7px 7px ;
    font-family:cursive;
    margin-right: 7px;
  
  }
  a{
  text-decoration: none;
  }
  .sponsor-btn:active{
  transform:translateY(1px) ;
  }
  
  @media only screen and (min-width:1110px) {
    .badge{
      bottom: 328px;
      right: 20px;
    }
    .founder{
      left: 200px;
    }
    .Lead{
      left: 180px;
    }
    .UI{
      left: 178px;
    }
    .Maintainer{
      left: 175px;
      bottom: 302px;
    }
  }
  @media only screen and (max-width:829px) {
    .badge{
      bottom: 358px !important;
    }
  }
  @media only screen and (max-width:587px) {
    #team-grid{
      display: flex !important;
      flex-direction: row !important;
      flex-wrap: wrap;
      justify-content: space-between !important;
  
    }
    .badge{
      display: none;
    }
    .card1 {
      width: 90% !important;
    }
    .card2{
      width: 90% !important;
      min-width: 0px !important;
  
    }
    .card3{
      width: 90% !important;
      min-width: 0px !important;
  
    }
    .card4{
      width: 90% !important;
      min-width: 0px !important;
  
    }
    #social-links{
      display: none !important;
    }
  
  }
  
  
  @media only screen and (min-width:500px)and (max-width:557px) {
    
    .team-member{
      width: 189px !important;
    }
  }
  #social-links a i {
    margin-right: 5px;
    color: white;
  }
  
  #social-links a:hover {
    color: #89d2fc;
  }
   #group{
    color: black;
   }
  
  .social-links a {
    display: flex;
    align-items: center;
    color: rgb(215, 208, 208);
    margin: 5px 0;
    text-decoration: none;
  }
  
  .social-links a i {
    margin-right: 5px;
  }
  
  .social-links a:hover {
    color: #89d2fc;
  }
   #group{
    color: black;
   }
   .image-div img{
    height: 150px;
    width: 150px;
   }
   .image-div1 img{
    height: 200px;
    width: 200px;
    border-radius: 50%;
   }
   #team {
    gap:5px ;
    display: flex;
    align-items: center;
    color: rgb(0, 0, 0);
  }
  #team h4{
    font-size: 10px;
  }
  #load-more {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    font-size: 16px;
    background: #FF6B008A;
  
    color: white;
    border: none;
    box-shadow: 0px 4px 4px 0px #00000040;
  
    border-radius: 23px;
    cursor: pointer;
    transition: background-color 0.2s;
  }
  
  #load-more:hover {
    background-color: #0056b3;
  }
  .trophy-card{
    background-color: #FDD86C;
    color:black;
    border-radius: 18px;
    }
    .dark-mode .trophy-card{
      background-color: black;
      color:white;
    }
    .trophy{
      height: 66px;
      position: relative;
      top: 20px;
    }
  font-weight:550;
}
.marg{
  margin-bottom: 20px;
  margin-top: 42px !important;
}
.font a{
  text-decoration: underline;
}
.footer{
  gap: 11px;
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  flex-direction: column;
}
#team-grid {
    margin-left: 1rem;
    margin-right: 1rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    gap: 2rem;
    margin-top: 0px;
    /* height: 300px; */
    transform: scale(0.95);
  }
  header {

    padding: 1rem;
  }
  .team-member {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #FF7D1FA8;

    border-radius: 20px;
    /* border: solid; */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    padding: 20px;
   /* background-color: gray; */
    margin-left: 20px;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: 0.5s;
    
  }
  .team-member:hover{
    transform: scale(1.03);
  }
  
  .team-member2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: whitesmoke;
    border-radius: 20px;
    /* border: solid; */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    padding: 20px;
   /* background-color: gray; */
   gap: 10px;
    margin-left: 20px;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: 0.5s;
  }
  .team-member2:hover{
    transform: scale(1.03);
  }
  .card1 {
    background: #4285F45C;
    ;
    /* padding: 2rem; */
    padding-top: 2rem;
    border-radius: 2rem;
    border-color: #3498db;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
  }
  .margin{
    margin-left:180px ;
    margin-right:180px ;
  }
  .card2 {
    background: #FBBC0591;


    padding-top: 2rem;
    border-radius: 2rem;
    border-color: #3498db;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    position: relative;
  }
  .card3 {
    background: #34A8535E;


    padding-top: 2rem;
    border-radius: 2rem;
    border-color: #3498db;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    position: relative;
  }
  .card4 {
    background: #EA43354D;
    ;
  
    padding-top: 2rem;
    border-radius: 2rem;
    border-color: #3498db;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    position: relative;
  }
/* Common styles for all social links */
#team-grid .team-member #social-links a i
{
  transition: color 0.3s, transform 0.3s;
}
#team-grid .team-member:nth-child(1) #social-links a i:hover 
{
  color: #4285F45C; 
  transform: scale(1.1);
}
#team-grid .team-member:nth-child(2) #social-links a i:hover 
{
  color: #FBBC0591;
  transform: scale(1.1);
}
#team-grid .team-member:nth-child(3) #social-links a i:hover 
{
  color: #34A8535E; 
  transform: scale(1.1);
}
#team-grid .team-member:nth-child(4) #social-links a i:hover 
{
  color: #EA43354D; 
  transform: scale(1.1);
}
  .image-div {
    flex: none;
    text-align: center;
  }

  
  .image-div img {
    border-radius: 50%;
    width: 8%;
  }
  
  .info-div {
    text-align: center;
    margin-top: 5px;
  }
  
  
  
  #team-grid1 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 10px;
    margin-left: 2rem;
    margin-right: 2rem;
    padding: 30px;

  }
  #heart{
    color: red;
}

  #ourteam{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 160px;
    font-family: cursive;
    font-size: 24px;
  }
  
  .badge {
    position: relative;
    bottom: 280px;
    left: 230px;
     display: inline-block;
    padding: 2px 10px;
    border-radius: 20px;
    font-size: 1em;
  }
  .Lead{
    background: #FBBC05A8;
    left: 225px;
    color: #fff;
  }
  .UI{
    background: #34A85370;
    left: 240px;
    color: #fff;
  }
  .Maintainer{
    background: #EA433578;


    color: #fff;
  }
  .founder {
    background: #4285F47D;
    color: #fff;
  }
  
  .maintainer {
    background-color: #dc9af8;
    color: #fff;
  }
  .main-content {
    flex: 1;
    padding: 20px;
  }
  
  #social-links{
    display: flex;
    flex-direction: column;
    /* margin-left: 20px; */
    margin-right: 20px;
    font-size: 40px;
    gap: 60px;
  }
  .sponsor-btn {
    background-color: whitesmoke;
    border: none;
    border-radius: 25px; /* Rounded corners */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Drop shadow effect */
    color: #000000; /* Black text color */
    font-size: 24px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7px; /* Space between icon and text */
    transition: transform 0.1s ease; /* Smooth click effect */
    width: 150px;
    padding: 7px 7px ;
    font-family:cursive;
    margin-right: 7px;

}
a{
  text-decoration: none;
}
.sponsor-btn:active{
  transform:translateY(1px) ;
}
  
  
  #social-links a i {
    margin-right: 5px;
    color: white;
  }
  
  #social-links a:hover {
    color: #89d2fc;
  }
   #group{
    color: black;
   }
  
  .social-links a {
    display: flex;
    align-items: center;
    color: rgb(215, 208, 208);
    margin: 5px 0;
    text-decoration: none;
  }
  
  .social-links a i {
    margin-right: 5px;
  }
  
  .social-links a:hover {
    color: #89d2fc;
  }
   #group{
    color: black;
   }
   .image-div img{
    height: 150px;
    width: 150px;
   }
   .image-div1 img{
    height: 200px;
    width: 200px;
    border-radius: 50%;
   }
   #team {
    gap:5px ;
    display: flex;
    align-items: center;
    color: rgb(0, 0, 0);
  }
  #team h4{
    font-size: 10px;
  }
  #load-more {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    font-size: 16px;
    background: #FF6B008A;

    color: white;
    border: none;
    box-shadow: 0px 4px 4px 0px #00000040;

    border-radius: 23px;
    cursor: pointer;
    transition: background-color 0.2s;
  }
  
  #load-more:hover {
    background-color: #0056b3;
  }
  .trophy-card{
    background-color: #FDD86C;
    color:black;
    border-radius: 18px;
    }
    .dark-mode .trophy-card{
      background-color: black;
      color:white;
    }
    .trophy{
      height: 66px;
      position: relative;
      top: 20px;
    }
    .nav-links1{
      height: 0px ;
      overflow: hidden;
      position: relative;
      top: 30px;
      flex-direction: column;
      justify-content: space-around;
  }
    .active{
      animation: animate forwards ease-in 0.2s;
      list-style: none;
      display: none;
      gap: 20px;
      padding: 10px 20px;
      background-color: #fdd76b;
      flex-direction: column;
      align-items: center;
      text-decoration: none;
      width: 100%;
  }
    @media only screen and (max-width:987px){
      .nav-links{
          display: none !important;
      }
      
      .hamburger{
        display: block !important;
      }
      .active{
        display: flex;
      }
      .nav-links1 li a {
          text-decoration: none;
          color: #000;
          padding: 10px 15px;
          font-size: x-large;
         
      }
  }
  .isDisplay{
    display: none;
}

  @media only screen and (max-width:329px){
    .hamburger{
        width: 100% !important;
       
    }
    .hamburger div{
        position: relative;
        left: 80%;
    }
    nav{
        flex-direction: column-reverse;
    }
    .isDisplay{
        display: block;
    }
    .conte{
        display: flex;
        width: 100%;
        justify-content: space-around;
    }
    
    .nav-actions{
    
        display: none !important;
    }
    .sponsor-btn{
        font-size: 16px !important;
        width: 114px !important;
        height: 46px !important;
    }
    .star-button{
        font-size: 16px !important;
        width: 114px !important ;
    }
}
@media only screen and (max-width:300px) {

   
    nav{
        gap: 2% !important;
    }
   }
@media only screen and (max-width:409px) {
    nav{
        gap: 5% !important;
    }
    .hamburger{
        width: 100% !important;
       
    }
    .logo img{
        top: 46px !important;
    }
    .hamburger div{
        position: relative;
        left: 80%;
    }
    nav{
        flex-direction: column-reverse;
    }
    .isDisplay{
        display: block;
    }
    .conte{
        display: flex;
        width: 100%;
        justify-content: space-around;
    }
    
    .nav-actions{
    
        display: none !important;
    }
    .sponsor-btn{
        font-size: 16px !important;
        width: 114px !important;
        height: 46px !important;
    }
    .star-button{
        font-size: 16px !important;
        width: 114px !important ;
    }

    .logo img{
        width: 60px !important;
        height: 60px !important;
    }
    /* @keyframes animate {
        from{
            height: 0px;
        }to{
            height: 300px ;
        }
    } */
}


@keyframes animate {
  from{
      height: 0px;
  }to{
      height: 270px ;
  }
}
.hamburger{
  display: none;
  }
  header {
      width: 100%;
      position: relative;
      top: 0;
      background-color: transparent;
      padding: 10px 0;
  }
  
  nav {
      display: flex;
      justify-content: space-between !important;
      flex-wrap: wrap;
      justify-content: center;
      position: relative;
      align-items: center;
      width: 90%;
      margin: 0 auto;
  }
  
  .logo img {
      /* height: 100px;
      width: 100px; */
      position: relative;
      width: 89px;
  height: 89px;
  top: 10px;
  gap: 0px;
  opacity: 0px;
  
  
  }
  
  .nav-links {
      list-style: none;
      display: flex;
      gap: 50px;
      margin: 25px;
      padding: 10px 20px;
      background-color: #FDD86C;
      border-radius: 25px;
      flex-wrap: wrap;
      justify-content: center;
      box-shadow: 0 4px 6px #FF7D1F;
  }
  
  .nav-links li a {
      text-decoration: none;
      color: #000;
      padding: 10px 15px;
      font-size: x-large;
     
  }
  .nav-actions {
      display: flex;
      align-items: center;
      gap: 10px;
  }
  .hamburger div {
    width: 25px;
    height: 3px;
    background-color: #333;
    margin: 4px;
    transition: 0.4s;
}
  
@media (max-width:768px) {
  .team-member{

    flex-direction: column;
    
  }
  #social-links{
    flex-direction: row;
    margin-top: 10px;
  }
  .card1 , .card2 , .card3 , .card4{
    width: -webkit-fill-available;
  }
 #team-grid{
  margin-left: 0px;
 }
 #team-grid1{
  width: 100% !important;
  display: flex !important;
  flex-wrap: wrap !important;
  justify-content: center !important;
  margin-left: 50px !important;
  margin-right: 0px !important;
  padding: 0px !important;
  }
  .badge{
  bottom: 295px !important;}

  .trophy-card{
    display: flex;
    padding-left: 20px;
    margin-left: 80px;
    /* margin-right: -21px; */
    flex-direction: column;
    height: auto;
  }
  .trophy{
    height: auto;
    position: relative;
    top: 20px;
  }
 }
