/* nav.css */

header {
    width: 100%;
    position: absolute;
    top: 0;
    background-color: transparent;
    padding: 10px 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: 0 auto;
}

.logo img {
    height: 100px;
    width: 100px;
    position: relative;
}

.sponsor-btn {
    background-color: whitesmoke;
    border: none;
    border-radius: 25px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    color: #000000;
    font-size: 24px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7px;
    transition: transform 0.1s ease;
    width: 150px;
    padding: 7px 7px;
    font-family: cursive;
    margin-right: 7px;
}

.sponsor-btn:active {
    transform: translateY(1px);
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 50px;
    margin: 25px;
    padding: 10px 20px;
    background-color: #FDD86C; /* Default background color */
    border-radius: 25px;
    box-shadow: 0 4px 6px #FF7D1F;
}

.nav-links li a {
    text-decoration: none;
    color: #000;
    padding: 10px 15px;
    font-size: x-large;
}

/* Dark Mode Styles */

.dark .nav-links {
    background-color: #34495E;
    box-shadow: 0 4px 6px #2C3E50;
}

.dark .nav-links li a {
    color: #ECF0F1;
}

.dark .sponsor-btn {
    background-color: #34495E;
    color: #ECF0F1;
}

.dark .logo img {
    filter: invert(1); /* Invert logo colors */
}

#heart {
    color: red;
}
