#maincontainer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 700px;
  }
  #folders-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    /* justify-content: space-between; Distribute cards evenly */
  }
  .heading{
    margin-top: 150px;
    font-family: cursive;
    /* font-size: xx-large; */
    margin-bottom: 20px;
  }
  .heading h1{
    font-family: cursive;
    font-size: 24px;
  }
  /* Individual folder card */
  .folder-card {
    flex: 0 0 calc(25% - 20px); /* Four cards per row (adjust margin as needed) */
    margin: 10px;
    justify-content: center;
    padding: 1.5rem;
    background: #0000000D;
    border-radius: 30px ;
    opacity: 0px;
    
    border: 1px solid #ddd;
    /* border-radius: 5px; */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .folder-card:hover {
    box-shadow: 5px 5px 20px #00ccff;
    transform: scale(1.03);
    transition: 0.5s;
    border-radius: 1.5rem;
    /* font-family: cursive; */
    font-size: 0.9rem;
  }
  
  /* Heading for folder name */
  .folder-card h3 {
    font-size: 18px;
    margin-bottom: 8px;
  }
  /* Search Icon styling */
#search {
    display: inline-block;
    font-size: 24px;
    /* margin-right: 20px; */
    cursor: pointer;
}

/* Toggle Switch styling */
.toggle-switch {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 50px;
    gap: 200px;
    height: 24px;
}

.toggle-switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.switch {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
    border-radius: 24px;
}

.switch:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: 0.4s;
    border-radius: 50%;
}

input:checked + .switch {
    background-color: #2196F3;
}

input:checked + .switch:before {
    transform: translateX(26px);
}