body {
    font-family: "Arial", sans-serif;
    background: linear-gradient(180deg, #fdd86c 8.1%, #ff7d1f 100%);
  }
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 28px;
    margin-bottom: 100px;
    gap: 200px;
  }
  .contact-img1 {
    display: none;
  }
  #error {
    color: red;
    font-size: 18px;
    text-align: center;
  }
  input::placeholder {
    margin: 0px;
    font-family: Poppins;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
  }
  ::placeholder {
    color: #0000006b !important;
  }

  .form-container {
    background: #ff7d1f63;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 350px;
  }
  
  .form-container h1 {
    text-align: center;
    margin-bottom: 20px;
    font-family: Poppins;
    font-size: 30px;
    font-weight: 400;
    line-height: 45px;
  }
  
  form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  .container img {
    width: 20%;
  }
  .container {
    margin-top: 50px;
  }
  form input,
  form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: none;
    box-sizing: border-box;
    background-color: transparent;
    border-bottom: solid 2px;
    font-family: Poppins;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
  }
  
  form textarea {
    resize: none;
    height: 80px;
    color: #000;
    border-bottom: solid 1px;
  }

  #rating {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
  }
  #comment {
    border-bottom: solid 2px;
  }
  
  .star {
    font-size: 2rem;
    cursor: pointer;
    color: black;
  }
  #rate {
    font-family: Poppins;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
  }
  #button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: black;
    color: #ff7d1f;
    cursor: pointer;
    font-size: 1rem;
  }
  
  #button:hover {
    background-color: #333;
  }
  
  @media only screen and (max-width: 1212px) {
    .container img {
      width: 30%;
    }
    .container {
      gap: 100px;
    }
  }
  @media only screen and (max-width: 958px) {
    .container img {
      width: 40%;
    }
    .container {
      gap: 10px;
    }
  }
  @media only screen and (max-width: 558px) {
    .container img {
      width: 70% !important;
    }
    .container {
      margin-top: 120px !important;
    }
  }
  @media only screen and (max-width: 781px) {
    .container img {
      width: 50%;
    }
    .container {
      flex-direction: column;
      gap: 100px;
    }
    .form-container {
      width: 85vw !important;
    }
  }
  @media only screen and (max-width: 520px) {
    .contact-img {
      display: none !important;
    }
    .contact-img1 {
      display: block !important;
    }
  }
  
  @media only screen and (max-width: 409px) {
    .nav-actions a {
      display: none !important;
    }
  
    .nav-actions {
      position: fixed;
      top: 10px;
      left: 3% !important;
    }
  }
  