body {
  margin: 0;
  font-family: "Helvetica Neue", sans-serif;
  background: linear-gradient(to bottom right, #ffd700, #ffa07a);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#container {
  max-width: 1000px;
  margin: 0 auto;
  margin-top: 100px;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(255, 125, 31, 0.9);
  margin-bottom: 20px;
}
.dark-mode #container{
  box-shadow: 0 0 20px rgba(181, 181, 181, 0.9);
}
#content {
  margin: 20px;
  border-radius: 10px;
  padding: 20px;
}

img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
  margin-top: 20px;
}

#container ol li {
  list-style-type: decimal;
  margin: 20px;
}

#container ul li {
  list-style: disc;
  margin: 20px;
}
p {
  color: #333;
  font-size: 18px;
  font-family: "Georgia", serif;
}

.dark-mode p,
li {
  color: #333;
  font-size: 18px;
  line-height: 1.6;
  font-family: "Georgia", serif;
}

h1 {
  font-size: 36px;
  font-weight: bold;
  text-align: center;
  color: #ff6347;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  margin-bottom: 20px;
}
h2 {
  display: block;
  font-size: 1.5em;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  unicode-bidi: isolate;
}
.dark-mode h1 {
  font-size: 36px;
  font-weight: bold;
  text-align: center;
  color: #ff6347;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.dark-mode h2 {
  color: #333;
}
hr {
  display: block;
  margin-block-start: 0.5em;
  margin-block-end: 0.5em;
  margin-inline-start: auto;
  margin-inline-end: auto;
  unicode-bidi: isolate;
  overflow: hidden;
  border-style: inset;
  border-width: 1px;
}
.repo-link {
  position: fixed;
  bottom: 40px;
  right: 20px;
  background-color: #333;
  color: #fff;
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transition: background-color 0.3s ease;
}

.dark-mode .repo-link {
  position: fixed;
  bottom: 40px;
  right: 20px;
  background-color: #fff;
  color: #333;
}

.repo-link:hover {
  background-color: #555;
}

.dark-mode .repo-link:hover {
  color: #e0e0e0;
}

pre {
  position: relative;
  overflow: auto;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #ddd;
  background-color: #f5f5f5;
  color: #333;
  margin-top: 20px;
  margin-bottom: 20px;
}

a {
  color: #ff6347;
  text-decoration: none;
  cursor: pointer;
  font-size: inherit;
  transition: color 0.3s ease;
}

a:hover {
  color: #ff4500;
}

.copy-button {
  position: absolute;
  top: 5px;
  right: 10px;
  cursor: pointer;
  background: #ff6347;
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  z-index: 1;
  font-size: 14px;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.copy-button:hover {
  background-color: #ff4500;
}

.toast {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  background: #ff6347;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  display: none;
  z-index: 999;
}

.toggle-switch {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 50px;
  height: 24px;
  margin: 0px;
}

.dark-mode #content {
  color: #333;
}
@media (max-width: 768px) {
  body {
    background: linear-gradient(to bottom right, #ffd700, #ffa07a) no-repeat
      fixed;
    background-size: cover;
  }

  #container {
    margin-top: 50px;
    width: 90%;
    padding: 10px;
  }

  #content {
    margin: 10px;
    padding: 10px;
  }

  p,
  li {
    font-size: 16px;
  }

  h1 {
    font-size: 28px;
  }

  .repo-link {
    bottom: 20px;
    right: 10px;
    padding: 10px;
  }

  pre {
    padding: 5px;
  }

  .copy-button {
    top: 2px;
    right: 5px;
    padding: 3px 6px;
    font-size: 12px;
  }
}

@media (max-width: 480px) {
  h1 {
    font-size: 24px;
  }

  p,
  li {
    font-size: 14px;
  }

  .repo-link {
    padding: 8px;
  }

  .copy-button {
    top: 2px;
    right: 6px;
    padding: 2px 6px;
    font-size: 10px;
  }
}
body.dark-mode #container {
  background-color: #121212;
  color: #e0e0e0;
  background: linear-gradient(180deg, #333 8.1%, #121212 100%);
}

body.dark-mode #container li {
  color: #e0e0e0;
}
body.dark-mode #container li p {
  color: #e0e0e0;
}
body.dark-mode #container h2 {
  color: #e0e0e0;
}
body.dark-mode p {
  color: #e0e0e0;
}
body.dark-mode #container h3 {
  color: #e0e0e0;
}
