@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

.blogpage-container {
  min-height: 100vh;
  margin-top: 10rem;
  padding: 0rem 6rem;
}
.blogpage-title {
  text-align: center;
  font-size: 30px !important;
  color: black;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

.blogpage-content {
  display: flex;
  gap: 5rem;
  margin-top: 2rem;
  justify-content: center;
}

.skeleton {
  background-color: #e0e0e0;
  border-radius: 4px;
  animation: pulse 1.5s infinite;
}

@keyframes pulse {
  0% {
    background-color: #ffffff;
  }
  50% {
    background-color: rgb(244, 244, 244);
  }
  100% {
    background-color: #ffffff;
  }
}

.skeleton-title {
  width: 60%;
  height: 15px;
  margin-bottom: 10px;
}

.skeleton-text {
  width: 80%;
  height: 15px;
  margin-bottom: 10px;
}

.skeleton-image {
  width: 100%;
  height: 200px;
  margin-bottom: 10px;
}
.recent_blog .skeleton-image{
  height:500px;
}


/* Left Section  */

.blogpage-content .left_section {
  width: 70%;
  display: flex;
  flex-direction: column;
}

/* Recent Blogs */

.recent_blog {
  background-color: #deeff8;
  width: 100%;
  padding: 2rem;
  border-radius: 1rem;
  border:3px solid black;
  border-style: dashed;
  box-shadow: 2px 2px 5px 2px #00000040;
  cursor:pointer
}
.blog_content{
  padding: 0.1rem 1rem; 
  background-color: white;
  margin-top: 1rem;
  border-radius: 1rem;
  border: 2px solid black;
}
.recent_blog img {
  background: #ffffff;
  height: 500px;
  width: 100%;
  border-radius: 1rem;
}
.recent_blog .content{
  margin-top: 1rem;
  background-color: white;
  padding: 1rem;
  border:2px solid black;
  border-radius:1rem;
}
.blog_details {
  display: flex;
  gap: 5px;
  margin: 0.5rem 0rem;
  font-size: 12px;
  font-weight: 700;
}
.blog_type {
  text-decoration: underline;
}
.recent_blog_title {
  font-size: 20.4px;
  font-weight: 600;
}
.blog_author {
  display: flex;
  gap: 5px;
  margin: 0.5rem 0rem;
  font-size: 12px;
  font-weight: 700;
}
.blog_title{
  font-weight: 600;
}
.blog_author .author_name {
  text-decoration: underline;
  color: #5271ff;
}
.recent_blog_description {
  display: flex;
  gap: 5px;
  margin: 0.5rem 0rem;
  font-size: 12.4px;
  font-weight: 400;
}

/* Editor's Pick */

.editor_picks{
    margin: 2rem 0rem;
}
.editor_picks_options{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.options_title{
  font-size: 20.7px;
  font-weight: 600;
  margin: 0.5rem 0rem;
}
.options_view{
  height:30px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  font-size: 20.7px;
  font-weight: 600;
  margin: 0.5rem 0rem;
}
.options_view img{
  height: 100%;
}

.editor_picks_content{
  margin: 2rem 0rem;
  display: flex;
  gap: 1rem;
}
.editor_picks_blog{
  position: relative;
  width: 35%;
  cursor: pointer;
}
.editor_picks_blog img{
  filter: blur(0.05rem);
  border-radius: 1rem;
  height:200px;
  width: 100%;
  object-fit: cover;
  object-position:center ;
  background-color: white;
}
.editor_picks_blog_title{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  text-align: center;
  color: #fff;
  font-size: 17px;
  font-weight: 800;
  padding:1rem 1.5rem;
  background-color: #00000080;
}

hr{
  width: 100%;
  border: 1px solid black;
}

/* Recent Posts */

.recent_posts_options{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.recent_posts_content{
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  margin-top: 2rem;
}

.recent_posts_content .recent_posts_blog{
  width: 48%;
  height:auto;
  min-height: 390px;
  border:3px solid black;
  border-style: dashed;
  display: flex;
  flex-direction:column ;
  justify-content: center;
  align-self: center;
  cursor:pointer;
}

.recent_posts_blog{
  background-color: #D7E4EB;
  width: 100%;
  height: 100%;
  padding: 1rem;
  border-radius: 1rem;
}
.recent_posts_blog img{
  width: 100%;
  border-radius: 1rem;
  height: 200px;
  object-fit: cover; 
  object-position: center;
  background-color: white;
}


/* Right Section */

.blogpage-content .right_section {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Top Blogs */

.top_blogs {
  background-color: #D7E4EB;
  border:3px solid black;
  border-style: dashed;
  padding: 5rem 2rem;
  width: 100%;
  height: 710px;
  border-radius: 2rem;
}
.top_blog_title {
  text-align: center;
  font-size: 30px !important;
  color: black;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}
.top_blogs .blog_title {
  font-size: 16px;
  font-weight: 600;
}
.top_blogs .blog_details {
  font-size: 10.7px;
  margin: 0.3rem 0rem;
}
.top_blog_1,
.top_blog_2,
.top_blog_3 {
  margin: 2rem 0rem;
}

.newsletter_form_container{
  width: 100%;
  height: 400px;
  background-color: #D7E4EB;
  margin-top: 2rem;
  padding: 3rem 2rem;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mail_icon{
  background-color: #4d87ba;
  width:16%;
  padding:0.3rem;
  position: absolute;
  left: 35px;
  top: 0px;
}
.mail_icon img{
  width: 100%;
}
.newsletter_form_title{
  font-size: 26px;
  line-height: 2rem;
  font-weight: 600;
  margin: 1rem 0rem;
}
.newsletter_form_description{
  margin: 1rem 0rem;
}
.newsletter_form_input{
  width: 100%;
  margin: 1rem 0rem;
}
.newsletter_form_input input{
  width: 100%;
  padding: 0.8rem 0.5rem;
}
.newsletter_form_button{
  width: 100%;
  display: flex;
  justify-content: center;
}
.newsletter_form_button button{
  padding: 0.7rem 1rem;
  background-color: #4d87ba;
  color: white;
  border-radius: 2rem;
}
.newsletter_status{
  width: 100%;
  text-align: center;
  margin-bottom: 10px;
}

.helpops_ad{
  background-color: #D7E4EB;
  width: 100%;
  height:700px;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding:3rem;
  text-align: center;
  font-family: "Playfair Display", serif;
  border: 2rem solid #4d87ba;
}

.ad_title{
  font-size: 50px;
  font-weight: 500;
}
.ad_descripiton{
  margin:1rem 0rem;
}

.join_us{
  margin-top: 4rem;
}
.trophy-card {
  display: flex;
  padding-left: 20px;
  background-color: #ABD2E6;
  color: black;
  border-radius: 18px;
  padding: 1rem;
  position: relative;
}
.trophy-card img{
  height:70px;
}
.team-invite {
  padding-left: 2rem;
}
.team-invite h2 {
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 0.5rem;
  font-family: "Arial", sans-serif;
}
.trophy-card a {
  position: absolute;
  right: 20px;
}
.join-button {
  padding: 10px 20px;
  font-size: 16px;
  background: #ffffff8a;
  color: black;
  border: none;
  box-shadow: 0px 4px 4px 0px #00000040;
  border-radius: 23px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.join-button:hover {
  background: linear-gradient(to right, #ff7d1f, #ffd700);
}

.must_read_title{
  font-size: 20.7px;
  font-weight: 600;
  margin: 2rem 0rem;
}

.must_read_content{
  width: 100%;
  display: flex;
  gap: 2rem;
}
.must_read_blog{
  background-color: #D7E4EB;
  width: 100%;
  height: 100%;
  padding: 1rem;
  border-radius: 1rem;
  border:3px solid black;
  border-style: dashed;
  cursor: pointer;
}
.must_read_blog img{
  height: 400px;
  width: 100%;
  object-fit: cover;
  object-position: center;
  background-color: white;
}

#load-more {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  font-size: 16px;
  background: #ff6b008a;
  color: white;
  border: none;
  box-shadow: 0px 4px 4px 0px #00000040;
  border-radius: 23px;
  cursor: pointer;
  transition: all 0.3s ease;
}

#load-more:hover {
  background: linear-gradient(to right, #ff7d1f, #ffd700);
}



