@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

.skeleton {
  background-color: #e0e0e0;
  border-radius: 4px;
  animation: pulse 1.5s infinite;
}
.skeleton-text {
  width: 80%;
  height: 15px;
  margin-bottom: 10px;
}
@keyframes pulse {
  0% {
    background-color: #ffffff;
  }
  50% {
    background-color: rgb(244, 244, 244);
  }
  100% {
    background-color: #ffffff;
  }
}

.newsletter_status{
  width: 100%;
  text-align: center;
  margin-bottom: 10px;
}

.playfair{
  font-family: "Playfair Display", serif;
}

