body {
  font-family: "Arial", sans-serif;
  /* background: linear-gradient(180deg, #fdd86c 8.1%, #ff7d1f 100%); */
}

.contact-page__container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 150px;
  margin-bottom: 100px;
  gap: 200px;
}

.contact-page__img--secondary {
  display: none;
}

.contact-page__error {
  color: red;
  font-size: 18px;
  text-align: center;
}

input::placeholder {
  margin: 0px;
  font-family: Poppins;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  text-align: left;
}

::placeholder {
  color: #0000006b !important;
}

.contact-page__form-container {
  background: #ff7d1f63;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 350px;
}

.contact-page__title {
  text-align: center;
  margin-bottom: 20px;
  font-family: Poppins;
  font-size: 30px;
  font-weight: 400;
  line-height: 45px;
}

.contact-page__form label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.contact-page__container img {
  width: 20%;
}

/* .container {
  margin-top: 50px;
} */
.contact-page__form input,
.contact-page__form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: none;
  box-sizing: border-box;
  background-color: transparent;
  border-bottom: solid 2px;
  font-family: Poppins;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  text-align: left;
}

.contact-page__form textarea {
  resize: none;
  height: 80px;
  color: #000;
  border-bottom: solid 1px;
}

.contact-page__rating {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

#comment {
  border-bottom: solid 2px;
}

.contact-page__star {
  font-size: 2rem;
  cursor: pointer;
  color: black;
}

.contact-page__star--selected {
  color: #ffd700;
}

.contact-page__rating-label {
  font-family: Poppins;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  text-align: left;
}

.contact-page__button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: black;
  color: #ff7d1f;
  cursor: pointer;
  font-size: 1rem;
}

.contact-page__button:hover {
  background-color: #333;
}

@media only screen and (max-width: 1212px) {
  .contact-page__container img {
    width: 30%;
  }
  .contact-page__container {
    gap: 100px;
  }
}

@media only screen and (max-width: 958px) {
  .contact-page__container img {
    width: 40%;
  }
  .contact-page__container {
    gap: 10px;
  }
}

@media only screen and (max-width: 558px) {
  .contact-page__container img {
    width: 70% !important;
  }
  .contact-page__container {
    margin-top: 120px !important;
  }
}

@media only screen and (max-width: 781px) {
  .contact-page__container img {
    width: 50%;
  }
  .contact-page__container {
    flex-direction: column;
    gap: 100px;
  }
  .contact-page__form-container {
    width: 85vw !important;
  }
}

@media only screen and (max-width: 520px) {
  .contact-page__img {
    display: none !important;
  }
  .contact-page__img--secondary {
    display: block !important;
  }
}

@media only screen and (max-width: 409px) {
  .nav-actions a {
    display: none !important;
  }

  .nav-actions {
    position: fixed;
    top: 10px;
    left: 3% !important;
  }
}
