.modal-overlay {
    position: fixed;
    top: 0;
    z-index: 555;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.75);
    display: flex;
    justify-content: center;
    align-items: center;
}


.edit-modal {
    background: white;
    padding: 20px;
    border-radius: 10px;
    max-height: 500px;
    overflow: auto;
    width: 90%;
    max-width: 500px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    position: relative;
}
.edit-modal h2{
    font-weight: 700;
    font-size: 18px;
}
.close-icon {
    position: absolute;
    top: 10px;
    font-size: 24px;
    right: 20px;
    cursor: pointer;
}

.modal-image-container {
    position: relative;
    text-align: center;
}

.modal-profile-img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    display: block;
    margin: 0 auto;
}

.camera-icon {
    height: 35px;
    position: absolute;
    top: 60%;
    display: flex;
    left: 55%;
    background-color: white;
    border-radius: 50%;
    padding: 5px;
    cursor: pointer;
    width: 35px;
    align-items: center;
    justify-content: center;
}

.edit-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 20px;
}

.edit-form label {
    display: flex;
    flex-direction: column;
}

.edit-form input, textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 5px;
}

.edit-form textarea {
    height: 100px;
    resize: none;
}

.form-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.form-buttons button {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.form-buttons button:first-of-type {
    background-color: #000000;
    color: white;
}

.form-buttons button:last-of-type {
    background-color: #000000;
    color: white;
}
