@keyframes animate1 {
    from{
        width: 0px;
    }to{
        width: 100%;
    }
}
.animate-first{
    animation: animate1 0.7s forwards;
    background-color: blue;
}
.coming{
    animation: coming-animate 0.4s ease-out forwards;
    

}
@keyframes coming-animate {
        from{
            right: 100%;
            position: relative;
           display: block !important;

        }to{
            right: 0%;
            position: relative;
        }
}
.coming2{
    animation: coming2-animate 0.4s ease-in forwards;
    display: none !important;
}
@keyframes coming2-animate {
        from{
            right: 0%;
            position: relative;
        }to{
            right: 100%;
            position: relative;
        }
}
.coming3{
    animation: coming3-animate 0.4s ease-out forwards;
}
@keyframes coming3-animate {
        from{
            left: 0%;
            position: relative;
        }to{
            left: 100%;
            position: relative;
            display: none;

        }
}
.coming1{
    animation: coming4-animate 0.4s ease-in forwards;
}
@keyframes coming4-animate {
        from{
            left: 100%;
            position: relative;
         display: block;
        }to{
            left: 0%;
            position: relative;
        }
}







.opacityanimator{
animation: opaci forwards 0.6s;
}

@keyframes opaci {
    from{
        opacity: 0;
    }to{
        opacity: 1;
    }
}



.boton-elegante {
    padding: 4px 20px;
    border: 2px solid #2c2c2c;
    background-color: #424348;
    color: #ffffff;
    font-size: 0.9rem;
    cursor: pointer;
    border-radius: 30px;
    transition: all 0.4s ease;
    outline: none;
    position: relative;
    overflow: hidden;
    font-weight: bold;
  }
  
  .boton-elegante::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(
      circle,
      rgba(255, 255, 255, 0.25) 0%,
      rgba(255, 255, 255, 0) 70%
    );
    transform: scale(0);
    transition: transform 0.5s ease;
  }
  
  .boton-elegante:hover::after {
    transform: scale(4);
  }
  
  .boton-elegante:hover {
    border-color: #666666;
    background: #292929;
  }
  