.footer{
    margin-top: 3rem;
    gap: 6px;
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 1.6rem;
}
.footer .font a{
    text-decoration: underline !important;
}
.iconsclass{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.iconsclass >a{
    width:35px;
    color: black;
    padding: 4px;
    border-radius: 50%;
    font-size: 1.1rem;
}
.iconsclass > a:hover{
  box-shadow: 0px 0px 8px rgb(255, 255, 255);
  color: #e0e0e0;
}

.mm{
    margin: 0px !important;
}
.font{
    font-size: 0.8rem;
    font-family: sans-serif;
    color: black;
    font-weight: 400;
}
.font a{
    text-decoration: underline;
}

/* Mobile-S (325px) */
@media screen and (max-width: 320px){
    .footer{
        margin-left: 70px;
    }
}

/* Mobile-M (375px) */
@media screen and (min-width: 321px) and (max-width: 375px) {
    .footer{
        margin-left: 65px;
    }
}

