.hamburger {
  display: none;
}
.hamburger.open div:nth-child(2){
  display: none;
}
.hamburger.open div:nth-child(1){
  rotate: 45deg;
  position: absolute;
}.hamburger.open div:nth-child(3){ 
  rotate: -45deg;
}@keyframes nav_animate {
  from {
    height: 0px;
  }
  to {
    height:410px;
  }
}
.dark-mode .nav_links_mobile{
  background: #5c5c5c;
  box-shadow: 1px 1px 5px 2px #00000056;
}
.dark-mode .nav_links{
  background: #585858;
  box-shadow: 1px 1px 5px 2px #00000056;
}.navAnimate {
  animation: nav_animate forwards ease-in-out 0.2s;
}

.dark-mode .nav_links_mobile a{
  color: #fff;
}
.dark-mode .nav_links a{
  color: #fff;
}

#heart{
  color:  rgb(234, 139, 155);
}
@media only screen and (max-width: 1280px) {
  .hamburger{
    display: block;
  }
}
/* Styles for AuthButton and Overlay */



.auth-btn:hover {
  transform: translateX(10px);
  background: none;
  border: 1px solid rgb(245, 245, 245);
}
.auth-btn {
  background-color: rgba(245, 245, 245, 0.788);
  border-radius: 15px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  color: #000000;
  font-size: 20px;
  cursor: pointer;
  padding: 7px 15px;
  margin-right: 10px;
  font-family: "Ubuntu" !important;
  transition: all 0.5s ease;
}
.dark-mode .auth-btn:hover {
  color: #e0e0e0;
}
.auth-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}