@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

.icons {
  width: 88%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.icons img {
  width: 120px;
  height: 120px;
}
.splide__arrow {
  display: none;
}
.splide__pagination__page {
  display: none;
}

.error-message-desktop{
  margin: 10px;
  width: 70%;
  text-align: left;
}
.error-message-desktop{
  display: block;
}
.error-message-mobile{
  display: none;
}
.input-field {
  border-radius: 20px;
  height: 38px;
  width: 289px;
  padding-left: 35px;
  border: none;
}

.changedesign{
  background:none;
  border-bottom: solid 2px white;
  border-radius: 0px !important; 
}
.changedesign::placeholder{
  left: 0px !important;
  margin-left: 0px !important;
  color: black;
  padding-left: 0px !important;
}
.changedesign:focus{
  outline: none;
}
.blurclass{
  opacity: 0.5;
  backdrop-filter: blur(100px);
}

.loader2 {
  display: flex;
  justify-content: center;
  align-items: center;
  --color: hsl(0, 0%, 87%);
  --animation: 2s ease-in-out infinite;
}

.loader2 .circle {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 20px;
  height: 20px;
  border: solid 2px var(--color);
  border-radius: 50%;
  margin: 0 10px;
  background-color: transparent;
  animation: circle-keys var(--animation);
}

.loader2 .circle .dot {
  position: absolute;
  transform: translate(-50%, -50%);
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: var(--color);
  animation: dot-keys var(--animation);
}

.loader2 .circle .outline {
  position: absolute;
  transform: translate(-50%, -50%);
  width: 20px;
  height: 20px;
  border-radius: 50%;
  animation: outline-keys var(--animation);
}

.circle:nth-child(1) .outline {
  animation-delay: 0.9s;
}


@keyframes circle-keys {
  0% {
    transform: scale(1);
    opacity: 1;
  }

  50% {
    transform: scale(1.5);
    opacity: 0.5;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes dot-keys {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes outline-keys {
  0% {
    transform: scale(0);
    outline: solid 20px var(--color);
    outline-offset: 0;
    opacity: 1;
  }

  100% {
    transform: scale(1);
    outline: solid 0 transparent;
    outline-offset: 20px;
    opacity: 0;
  }
}
.subscribe-btn{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 130px;
  border-radius: 5px;
  color: white !important;
  background-color: rgb(71, 71, 71);
  font-family: serif;
  font-weight: 400;
  font-size: 20px;
}

.subscribe-btn{
  background-color: #ef8336;
}
input{
  border-radius: 5px !important;
}
.fade-in {
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.fade-in.visible {
  opacity: 1;
}
@media screen and (max-width:400px) {
  .input-field{
    width:200px;
  }
}