@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
body {
  margin: 0;
  font-family: "Arial", sans-serif;
  min-height: 100vh;
  width: 100%;
  display: block;
}










main {
  position: relative;
  z-index: 100;
  margin-top: 6rem;
}


.isDisplay {
  display: none;
}
.content a {
  height: 40px !important;
  display: flex !important;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 40px ;
}

.content h3 {
  padding: 0px !important;
}

.search-btn,
.home-sponsor-btn {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 18px;
}

a {
  text-decoration: none !important;
}

.home-sponsor-btn {
  color: #000000;
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.1s ease;
  width: 150px;
  padding: 9px 9px;
  font-family: cursive;
}

.home-sponsor-btn:active {
  transform: translateY(1px);
}

#heart {
  color: rgb(234, 139, 155);
}

.main-content {
  text-align: center;
  margin-top: 225px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.get-started-btn 
{
  border-radius: 25px;
  background-color: white;
  color: black;
  text-align: center;
  font-size: 16px;
  padding: 10px 20px;
  width: 150px;
  cursor: pointer;
  font-weight: 600;
}

.get-started-btn:after 
{
  content: '»';
  position: relative;
  opacity: 0;
  left: 5px;
  transition: 0.5s;
}

.dark-mode .get-started-btn {
  background-color: whitesmoke;
  color: #000000;
}

/* Hovering effect for get-started btn */
.get-started-btn:hover {
  transform: scale(1.1);
  transition: all 0.4s ease;
  background: linear-gradient(to right, #ff7d1f, #ffd700);
  color: #000;
  padding-right: 1px;
  padding-left: 1px;
}
.get-started-btn:hover:after 
{
  opacity: 1;
  right: 10px;
}
.dark-mode .get-started-btn:hover {
  background-color: none;
  color: whitesmoke;
}

.star-button {
  color: #000000;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.1s ease;
  width: 120px;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 600;
}

.star-button:active {
  transform: translateY(1px);
}

/* Hovering effect for Star btn */
.content a {
  transition: all 0.4s ease;
}

.content a:hover {
  transform: scale(1.1);
  transition: all 0.4s ease;
  background: linear-gradient(to right, #ff7d1f, #ffd700);
  color: #000
}

.dark-mode .content a:hover h3 {
  color: whitesmoke;
}

.star-icon {
  color: #ffd700;
  font-size: 20px;
}

.main-title {
  font-size: 96px;
  color: #000;
  font-family: "Arial Black", sans-serif;
}

.main-para {
  font-size: 24px;
  color: white;
  margin-bottom: 20px;
  font-family: cursive;
}
.arrow_container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: end;
  padding: 2rem;
  margin: 2rem;
  height: 20vh;
  overflow: hidden;
  font-size: 2rem;
}

.animation1 {
  animation: ani alternate ease-in 0.7s infinite;
  cursor: pointer;
}
@keyframes ani {
  from {
    position: absolute;
    bottom: 20px;
  }
  to {
    position: absolute;
    bottom: 8px;
  }
}
.devops_img_container{
  display: flex;
  justify-content: center;
  align-items: center;
}

.img1 {
  margin-top: 5rem;
  display: flex;
  justify-content: center;
  height: auto;
  width: 80%;
}

.devops_text_container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 8rem;
  justify-content: center;
  align-items: center;
  padding-left: 5rem;
  padding-right: 2rem;
}

.text-section {
  flex: 1;
  margin-right: 3rem;
  z-index: 50;
}

.text-section h1 {
  font-size: 55px;
  font-family: Inter;
  font-weight: 600;
}

.text-section p {
  font-family: Inter;
  margin-left: 0px;
  font-size: 24px;
  font-weight: 300 !important;
  text-align: justify;
  line-height: 29.05px;
  margin-bottom: 20px;
}

.text-section button {
  background-color: #ffffff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 1em;
  border-radius: 30px !important;
  color: black;
  margin-bottom: 2rem;
  transition: all 0.4s ease;
  font-weight: 600;
  font-family: "Plus Jakarta Sans", sans-serif;
}
.text-section button:hover{
  background: linear-gradient(to right, #ff7d1f, #ffd700);
  color: #000;
}
.image-section {
  flex: 1;
  text-align: left;
  height: 360px !important;
  width: 554px !important;
  border-radius: 29px !important;
}
.image-section img {
  max-width: 100%;
  border-radius: 10px;
  height: 360px !important;
  width: 554px !important;
  border-radius: 29px !important;
  margin: 5px;
}

.image-section {
  height: 100px;
  text-align: center;
  width: 100vw;
  overflow: hidden !important;
}
.image-section img {
  height: 360px !important;
}

.container1 {
  width: 1000px;
  background-color: transparent;
  border-radius: 10px;
  display: flex;
  padding: 0px 0px 0px 80px;
  align-items: center;
  left: 60px;
  height: 500px;
  margin-bottom: 10rem;
  margin-top: 10rem;
}

.header {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  bottom: 100px;
}

.header .h1 {
  text-align: start;
  font-size: 64px ;
  margin-left: 0px !important;
  width: 100%;
  line-height: 60px;
}

.creative {
  font-weight: bold;
  font-size: 96px;
  color: #000;
  margin: 0;
  font-family: "Arial Black", sans-serif;
}

.cards {
  display: flex;
  flex-direction: column;
  justify-content: center !important;
  margin-top: 100px !important;
  padding: auto !important;
  align-items: center;
  gap: 100px !important;
}

.card {
  width: 400px;
  background-color: #ff8c00;
  border-radius: 10px;
  padding: 1.1rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: left;
  width: 379px !important;
  color: black;
  height: 210px;
}
.card p {
  margin-left: 0px !important;
}

.card-header {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.card-header img {
  width: 40px;
  height: 40px;
  margin-right: 0.3rem;
  border-radius: 50%;
}

.card h2 {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
  font-weight: 600;
}
.card p {
  font-size: 0.9rem;
  margin-bottom: 0.5rem;
  font-family: cursive;
}

.card strong {
  color: black;
}
#card-splide{
  display: none;
  overflow: hidden;
}
.mobile-card-container{
  background-color: #f6e6b633;
  padding:3rem 1rem;
}
.dark-mode .mobile-card-container{
  background-color: #0000003b;
}
.mobile-card{
  background-color: #f6e6b674;
  box-shadow: 0 4px 6px #ff7d1f;
  padding: 1rem 2rem;
  border-radius: 2rem;
  height: 420px;
}
.dark-mode .mobile-card{
  background-color: #c8c8c85a;
}
.mobile-card-header{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 2rem;
}
.mobile-card-header img{
  border-radius: 50%;
  width: 50px;
}
.mobile-card-header h2{
  font-size: 24px;
  font-weight: 800;
  text-align: center;
}
.mobile-card p{
  padding:1rem 0rem;
  text-align: justify;
}
.dark-mode .card h2 {
  color: #ea670a !important;
}
.dark-mode .card strong {
  color: #ea670a !important;
}
.dark-mode #c1 {
  background-color: #0a0a0a !important;
  transition: transform 0.3s ease-in-out;
}
.dark-mode #c1:hover {
  box-shadow: 0 0px 20px rgba(255, 125, 31, 1);
  transform: scale(1.02);
  cursor: default;
}
body.dark-mode {
  background: #353535 !important; 
  color: white; 
}
.dark-mode #c2 {
  background-color: #0a0a0a !important;
  transition: transform 0.3s ease-in-out;
}
.dark-mode #c2:hover {
  box-shadow: 0 0px 20px rgba(255, 125, 31, 1);
  transform: scale(1.02);
  cursor: default;
}
.dark-mode #c3 {
  background-color: #0a0a0a !important;
}
.dark-mode #c3:hover {
  box-shadow: 0 0px 20px rgba(255, 125, 31, 1);
  transform: scale(1.02);
  cursor: default;
}
.dark-mode #c4 {
  background-color: #0a0a0a !important;
}
.dark-mode #c4:hover {
  box-shadow: 0 0px 20px rgba(255, 125, 31, 1);
  transform: scale(1.02);
  cursor: default;
}
#c1 {
  position: relative;
  transition: transform 0.3s ease-in-out;
  right: 180px;
  top: 180px !important;
  padding-bottom: 1.1rem;
  padding-top: 0.5rem;
  padding-right: 0.3rem;
}
#c1:hover {
  box-shadow: 0 0px 20px rgba(48, 48, 48, 0.8);
  transform: scale(1.02);
  cursor: default;
}
#c2 {
  position: relative;
  transition: transform 0.3s ease-in-out;
  left: 250px;
  top: 10px !important;
  padding-bottom: 1.1rem;
  padding-top: 0.5rem;
  padding-right: 0.1rem;
}
#c2:hover {
  box-shadow: 0 0px 20px rgba(48, 48, 48, 0.8);
  transform: scale(1.02);
  cursor: default;
}
#c3 {
  position: relative;
  transition: transform 0.3s ease-in-out;
  right: 280px;
  top: -50px;
  padding-bottom: 0.3rem;
  padding-top: 0.5rem;
}
#c3:hover {
  box-shadow: 0 0px 20px rgba(48, 48, 48, 0.8);
  transform: scale(1.02);
  cursor: default;
}
#c4 {
  position: relative;
  transition: transform 0.3s ease-in-out;
  bottom: 350px;
  left: 167px !important;
  padding-bottom: 1.1rem;
  padding-top: 0.5rem;
  padding-right: 0.4rem;
}
#c4:hover {
  box-shadow: 0 0px 20px rgba(48, 48, 48, 0.8);
  transform: scale(1.02);
  cursor: default;
}
.eye , .eye1{
  cursor: pointer;
}
.subscribe-btn:hover{
  background-color: rgba(1, 1, 11, 0.714) !important;
}
.banner {
  text-align: center;
  font-family: sans-serif;
  font-weight: 600;
  overflow: hidden;
}

.banner-title {
  text-align: center;
  font-family: sans-serif !important;
  font-weight: 600 !important;
  font-size: 52px;
}

.banner {
  padding: 20px 0px;
  width: 100%;
  padding: auto;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  margin-top: 0px !important;
}

.banner h1 {
  font-size: 2.5em;
  margin-bottom: 20px;
  font-family: Poppins;
  font-size: 48px;
  font-weight: 500;
  line-height: 72px;
}

.icons {
  width: 88%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.icons img {
  width: 120px;
  height: 120px;
}
.splide__arrow {
  display: none;
}
.splide__pagination__page {
  display: none;
}
.dark-mode .newsletter {
  background-color: #0a0a0a !important;
}
.dark-mode .news-logo {
  color: white !important;
}
.dark-mode .Subscribe {
  background-color: #ea670a !important;
  color: white !important;
}
.newsletter-container {
  width: 95vw;
  margin-bottom: 70px;
  margin-top: 50px;
  z-index: 50;
}

.newsletter {
  border-radius: 20px;
  display: flex;
  padding: 4rem 1rem;
  width: 90%;
  margin: auto;
  background-color: #ef8336;
  box-shadow: 0px 0px 15px rgb(110, 46, 3);
}

.logo-section {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-section img {
  height: 85px;
}

.news-logo {
  font-size: 44px;
  font-weight: 400;
}

.subscribe-section {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.subscribe-text {
  font-size: 18px;
  font-weight: 400;
  margin: 10px;
  width: 70%;
  text-align: left;
  /* margin-left: 55px; */
}

.subscribe-input {
  width: 70%;
  display: flex;
  margin-left: -55px;
}
.error-message-desktop{
  margin: 10px;
  width: 70%;
  text-align: left;
}
.error-message-desktop{
  display: block;
}
.error-message-mobile{
  display: none;
}
.input-field {
  border-radius: 20px;
  height: 38px;
  width: 289px;
  padding-left: 35px;
  border: none;
}

.subscribe-btn {
  background-color: rgba(0, 0, 10, 0.818) !important;
  color: black;
  border-radius: 20px;
  font-weight: 500;
  font-size: 16px;
  height: 38px;
  width: 106px;
  border: none;
  margin-left: 10px;
}
.dark-mode .subscribe-btn {
  background-color: #ef8336 !important;
  color: white;
}
.dark-mode .subscribe-btn:hover {
  background-color: #ff6a00 !important;
}

.email-icon{
  position: relative;
  left: 6%;
  top: 50%;
  transform: translateY(-50%);
  color: #aaa;
  pointer-events: none;
  z-index: 0;
}

/* Media Queries */
@media only screen and (max-width: 1280px) {
  #c1,
  #c2,
  #c3,
  #c4 {
    position: static !important;
    top: 0px !important;
    bottom: 0px !important;
    right: 0px !important;
    left: 0px !important;
    cursor: default;
  }

  .card div {
    display: flex;
    justify-content: center;
  }
  .container1 {
    margin-left: 0px !important;
    position: relative;
    height: auto;
  }
  .cards {
    display: flex;
    flex-direction: column;
    justify-content: center ;
    margin-top: 100px ;
    padding: auto !important;
    align-items: center;
    gap: 100px !important;
    margin-left: 2rem;
  }
}
@media only screen and (max-width: 1220px) {
  .devops_text_container {
    flex-direction: column;
    margin-right: none;
    padding: 2rem;
    margin-top: 5rem;
    height: 600px;
  }
  .text-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 2rem;
    padding:2rem;
    border-radius:2rem;
    background-color: #f6e6b633;
  }
  .dark-mode .text-section{
    background-color: #0000003b;
  }
  .text-section h1 {
    background-color: #f6e6b674;
    box-shadow: 0 4px 6px #ff7d1f;
    text-align: center;
    padding:0rem 2rem;
    border-radius:2rem;
    margin-bottom: 1rem;
  }
  .dark-mode .text-section h1{
    background-color: #c8c8c85a;
  }
  .text-section button{
    background-color: #f6e6b674;
    box-shadow: 0 4px 6px #ff7d1f;
  }
  .dark-mode .text-section button{
    color: white;
    background-color: #fcfcfc5a;
  }
  .text-section p{
    background-color: #f6e6b674;
    padding:2rem 2rem;
    border-radius:2rem;
  }
  .dark-mode .text-section p{
    background-color: #c8c8c85a;
  }
  .header {
    bottom: 0px;
  }
  .header .h1 {
    text-align: center;
  }
  .image-section{
    display: none;
  }
}

@media only screen and (max-width: 1140px) {
  .container1 {
    display: flex;
    flex-direction: column;
    width: 100%;
    left: 0px;
    padding:0px 0px 0px 0px;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  .cards{
    margin-left: 0rem;
  }
  .news-logo{
    font-size: 32px;
  }
}
@media only screen and (max-width: 920px) {
  .text-section h1 {
    font-size:38px;
  }
  .text-section p {
    font-size:18px;
  }
  .newsletter{
    display: flex;
    flex-direction: column;
  }
  .logo-section{
    width: 100%;
  }
  .subscribe-section{
    width:100%;
    margin: 1rem 0rem;
  }
  .subscribe-text{
    width:100%;
    text-align: center;
  }
  .subscribe-input{
    width:100%;
    flex-direction: column;
    gap: 15px;
    justify-content:center ;
    align-items: center;
  }
  .email-icon{
    position: relative;
    left: -17%;
    top: 50px;
  }
  .error-message-desktop{
    display: none;
  }
  .error-message-mobile{
    display: block;
  }
}
@media only screen and (max-width: 720px) {
  .devops_text_container {
    padding: 1rem;
  }
  .text-section h1 {
    font-size:32px;
  }
  .header{
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  .header .h1{
    font-size: 48px;
  }
  .header .creative{
    font-size: 72px;
  }
  .email-icon{
    position: relative;
    left: -23%;
    top: 50px;
  }
}
@media only screen and (max-width: 592px) {
  .main-title {
    font-size: 60px !important;
  }
  .text-section{
    margin: 0rem;
    padding:1rem 1rem;
  }
  #card-splide{
    display: block;
  }
  .cards{
    display: none;
  }
  .header{
    margin-top: 0rem;
    margin-bottom: 0rem;
  }
  .banner-title{
    font-size: 32px !important;
    margin-top: 2rem;
  }
  .img1{
    width:100%;
  }
  .arrow_container{
    height:10vh;
    margin-bottom: 10rem;
  }
  .email-icon{
    position: relative;
    left: -26%;
    top: 50px;
  }
}

@media only screen and (max-width: 497px) {
  .main-title {
    font-size: 40px !important;
  }
  .main-content {
    gap: 30px;
  }
  .subscribe-btn{
    font-size: 12px;
  }
  .email-icon{
    position: relative;
    left: -28%;
    top: 50px;
  }
  .subscribe-btn
  {
    margin-left:50px;
  }
  .input-field
  {
    margin-left: 50px;
  } 
}

@media only screen and (max-width: 409px) {
  .isDisplay {
    display: block;
  }
  .content {
    display: flex;
    width: 100%;
    justify-content: space-around;
  }
  .home-sponsor-btn,
  .star-button {
    font-size: 16px !important;
    width: 114px !important;
  }
  .arrow_container{
    height:10vh;
    margin-bottom: 2rem;
  }
  .mobile-card{
    height: 450px;
  }
  .email-icon{
    position: relative;
    left: -32%;
    top: 50px;
  }
  .input-field {
    margin-left: 50px;
  }
}

@media only screen and (max-width: 347px) {
  .logo {
    position: relative;
    top: 40px;
  }
  .main-title {
    font-size: 30px !important;
  }
  .get-started-btn {
    position: relative;
  }
  p {
    font-size: 17px !important;
  }
  .email-icon{
    position: relative;
    left: -30%;
    top: 50px;
  }
  .input-field {
    width: 90%;
  }
}

@media only screen and (max-width: 332px) {
  .main-title {
    font-size: 40px !important;
  }
}

@media only screen and (max-width: 329px) {
  .content {
    display: flex;
    width: 100%;
    justify-content: space-around;
  }
  .home-sponsor-btn,
  .star-button {
    font-size: 16px !important;
    width: 114px !important;
  }
  .home-sponsor-btn {
    height: 46px !important;
  }

  .email-icon{
    position: relative;
    left: -26%;
    top: 50px;
  }
}

.changedesign{
  background:none;
  border-bottom: solid 2px white;
  border-radius: 0px !important; 
}
.changedesign::placeholder{
  left: 0px !important;
  margin-left: 0px !important;
  color: black;
  padding-left: 0px !important;
}
.changedesign:focus{
  outline: none;
}
.blurclass{
  opacity: 0.5;
  backdrop-filter: blur(100px);
}

.loader2 {
  display: flex;
  justify-content: center;
  align-items: center;
  --color: hsl(0, 0%, 87%);
  --animation: 2s ease-in-out infinite;
}

.loader2 .circle {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 20px;
  height: 20px;
  border: solid 2px var(--color);
  border-radius: 50%;
  margin: 0 10px;
  background-color: transparent;
  animation: circle-keys var(--animation);
}

.loader2 .circle .dot {
  position: absolute;
  transform: translate(-50%, -50%);
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: var(--color);
  animation: dot-keys var(--animation);
}

.loader2 .circle .outline {
  position: absolute;
  transform: translate(-50%, -50%);
  width: 20px;
  height: 20px;
  border-radius: 50%;
  animation: outline-keys var(--animation);
}

.circle:nth-child(1) .outline {
  animation-delay: 0.9s;
}


@keyframes circle-keys {
  0% {
    transform: scale(1);
    opacity: 1;
  }

  50% {
    transform: scale(1.5);
    opacity: 0.5;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes dot-keys {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes outline-keys {
  0% {
    transform: scale(0);
    outline: solid 20px var(--color);
    outline-offset: 0;
    opacity: 1;
  }

  100% {
    transform: scale(1);
    outline: solid 0 transparent;
    outline-offset: 20px;
    opacity: 0;
  }
}
.subscribe-btn{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 130px;
  border-radius: 5px;
  color: white !important;
  background-color: rgb(71, 71, 71);
  font-family: serif;
  font-weight: 400;
  font-size: 20px;
}

.subscribe-btn{
  background-color: #ef8336;
}
input{
  border-radius: 5px !important;
}