.loader1 {
    position: fixed;
    top: 46%;
    left: 46%;
    z-index: 1000 !important;
    
    width: 100px;
    height: 100px;
    border: 4px solid #282828;
    overflow: hidden;
    border-radius: 50%;
    box-shadow: -5px -5px 5px rgba(255, 255, 255, 0.1),
      10px 10px 10px rgba(0, 0, 0, 0.4),
      inset -5px -5px 5px rgba(255, 255, 255, 0.2),
      inset 10px 10px 10px rgba(0, 0, 0, 0.4);
  }
  .backgroundset{
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: rgba(0,0,0,0.4);
    z-index: 999 !important;
  }
  .loader1:before {
    content: "";
    position: absolute;
    top: 25px;
    left: 25px;
    right: 25px;
    bottom: 25px;
    z-index: 10;
    background: #212121;
    border-radius: 50%;
    border: 2px solid #292929;
    box-shadow: inset -2px -2px 5px rgba(255, 255, 255, 0.2),
      inset 3px 3px 5px rgba(0, 0, 0, 0.5);
  }
  
  .loader1 span {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-image: linear-gradient(
      -225deg,
      #ff7402 0%,
      #ffe700 50%,
      #fff55e 100%
    );
    filter: blur(20px);
    z-index: -1;
    animation: animate 0.5s linear infinite;
  }
  
  @keyframes animate {
    0% {
      transform: rotate(0deg);
    }
  
    100% {
      transform: rotate(360deg);
    }
  }
  
    
  