/* Styles for Login auth-container */
.login-auth-container {
    background-color: #ff8c00;
    padding: 20px;
    border-radius: 10px;
    width: 500px;
    position: relative;
  }

.login-auth-container h1 {
    text-align: center;
    margin-top: 5px;
    font-size: 22px;
  }

  .login-auth-container p {
    text-align: center;
    margin-top: 15px;
    font-family: cursive;
    font-size: 16px;
  }

  .login-auth-container img {
    width: 30px;
    height: 30px;
    margin-left: 5px;
  }

  .login-auth-container .github-btn img{
    width: 35px;
    height: 30px;
  }
  
  .login-auth-container input {
    width: 65%;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    background: none;
    color: black;
    margin-left: 70px;
    border-bottom: 1px solid #1f1f1f;
  }

  .login-auth-container input::placeholder {
    color: #1f1f1f;
  }
  
  .login-auth-container button {
    width: 65%;
    padding: 10px;
    margin-top: 15px;
    border: none;
    border-radius: 18px;
    background-color: white;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 70px;
    gap: 18px;
  }

  .login-auth-container .google-btn{
    margin-top: 50px;
  }
  
  .login-auth-container .close-btn {
    position: absolute;
    top: -15px;
    right: -135px;
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
  }

  .login-auth-container a{
    position: absolute;
    right: 110px;
    font-size: 13px;
  }

  .login-auth-container .login-btn{
    width: 110px;
    padding: 10px;
    position: relative;
    left: 100px;
    background-color: rgb(64, 109, 177);
    color: white;
  }

  /* Styles for Signup auth container */

  .signup-auth-container {
    background-color: #ff8c00;
    padding: 20px;
    border-radius: 10px;
    width: 500px;
    position: relative;
  }

  .signup-auth-container h1 {
    text-align: center;
    margin-top: 5px;
    font-size: 18px;
  }

  .signup-auth-container h5 {
    text-align: center;
    margin-top: 40px;
    font-family: cursive;
    padding-left: 22px;
    padding-right: 22px;
  }

  .signup-auth-container p {
    text-align: center;
    margin-top: 15px;
    font-family: cursive;
    font-size: 16px;
  }

  .signup-auth-container img {
    width: 30px;
    height: 30px;
    margin-left: 5px;
  }

  .signup-auth-container .github-btn img{
    width: 35px;
    height: 30px;
  }
  
  .signup-auth-container input {
    width: 65%;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    background: none;
    color: black;
    margin-left: 70px;
    border-bottom: 1px solid #1f1f1f;
  }

  .signup-auth-container input::placeholder {
    color: #1f1f1f;
  }
  
  .signup-auth-container button {
    width: 65%;
    padding: 10px;
    margin-top: 15px;
    border: none;
    border-radius: 18px;
    background-color: white;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 70px;
    gap: 18px;
  }

  .signup-auth-container .google-btn{
    margin-top: 50px;
  }
  
  .signup-auth-container .close-btn {
    position: absolute;
    top: -15px;
    right: -135px;
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
  }

  .signup-auth-container a{
    position: absolute;
    right: 110px;
    font-size: 13px;
  }

  .signup-auth-container .continue-btn{
    width: 110px;
    padding: 10px;
    position: relative;
    left: 100px;
    background-color: rgb(64, 109, 177);
    color: white;
  }

