.popupclass{
    position: fixed;
    bottom: 80px;
    left: 39%;
    padding: 10px ;   
    color: white ;
    text-align: center;
    overflow: hidden;
    border-radius: 5px ;
    width: auto;
    min-width: 300px;
    max-width: 400px;
    z-index: 1000;
    animation: animatorpopup forwards 2s;
}
@media only screen and (max-width:600px) {
    .popupclass{
        left: 18% !important;
    }
}
@keyframes animatorpopup {
        from{
           opacity: 0;
        }to{
            opacity: 1;
        }
}
.jdikfgf{
    bottom: 0px !important;
    left: 0px !important;
    animation: lineanimator forwards 2s;
    background-color: rgb(80, 80, 80);
    height: 2px;
}
@keyframes lineanimator {
    from{
        width: 0px ;
    }to{
        width: 100%;
    }
}