
.filtered{filter: invert(1);}
.popup{
    width: 40%;
    height: 60px;
    border-radius: 10px;
    position: fixed;
    bottom: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 30%;
    right: 30%;
    color: white;
    animation: animate1 1s forwards;
z-index:1000 !important;
}
.none1{
    display: none;
}
.line{
    background-color: rgb(71, 36, 36);
    height: 2px;
    position: absolute;
    bottom: 0px ;
    animation: animate6 2s forwards;
}
@keyframes animate6 {
    from{
        width: 0px;
    }to{
        width: 400px !important;
    }
}
@keyframes animate1 {
    from{
        opacity: 0;
    }to{
        opacity: 1;
    }
}