
body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  /* background: linear-gradient(180deg, #FDD86C 8.1%, #FF7D1F 100%) ; */

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* height: 100vh; */
}
#maincontainer {
  display: flex;
  align-items: center;
  justify-content: center;
}
#folders-container {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
}

.heading h1 {
  font-family: cursive;
  margin-bottom: 20px;
  font-family: cursive;
  font-size: 24px;
  text-align: center;
  font-weight: 800;
   margin-top: 130px;
}
.dark-mode header  ul li{
  color: white !important;
}
/* Individual folder card */
.folder-card {
  flex: 0 0 calc(25% - 20px); 
  margin: 20px;
  min-width: 400px;
  justify-content: center;
  padding: 2rem;
  background: #0000000d;
  border-radius: 30px;
  border: 1px solid #ddd;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.folder-card:hover {
  box-shadow: 0 0 20px rgba(48,48,48,.8);
  transform: scale(1.03);
  transition: 0.5s;
  border-radius: 1.5rem;
  font-size: 0.9rem;
}
.dark-mode .folder-card:hover {
  box-shadow: 5px 5px 20px #ff9d00;
  ;
}

/* Toggle Switch styling */
.toggle-switch {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 50px;
  gap: 200px;
  height: 24px;
}

.toggle-switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.switch {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 24px;
}

.switch:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .switch {
  background-color: #2196f3;
}

input:checked + .switch:before {
  transform: translateX(26px);
}

.folder-card {
  color: black;
}
.dark-mode .folder-card {
  color: white;
}
.folder-card p {
  color: black;
}
@media (max-width: 768px) {
  .folder-card {
    flex: 0 0 calc(50% - 120px); 
  }
}

@media (max-width: 576px) {
  .folder-card {
    flex: 0 0 calc(100% - 120px); 
  }
}

/* Dark mode specific styles */
body.dark-mode {
  background: #353535 !important; 
  color: #322d2d; 
}
.dark-mode .toggle-switch{
  color: white;
}
.dark-mode .form-container {
  background: #333333;
  box-shadow: 0 4px 8px rgba(255, 255, 255, 0.1);
}
@media only screen and (max-width: 409px) {
  .toggle-switch {
    position: fixed;
    top: 15px;
    left: 3% !important;
  }
}
.dark-mode input::placeholder,
.dark-mode textarea::placeholder {
  color: #aaa; 
}

.dark-mode #get-started-btn {
  background-color: #fff;
  color: #333;
}

/* @media (prefers-color-scheme: dark) {
  body {
    background: #1a1a1a;
    color: #fff;
  }

  .form-container {
    background: #333333;
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.1);
  }

  input::placeholder,
  textarea::placeholder {
    color: #aaa;
  }

  #get-started-btn {
    background-color: #fff;
    color: #333;
  }
} */

.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-bottom: 13px;
}

/* Style for the search bar */
#search-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 4rem;
  margin-top: 1rem;
  padding: 17px;
  font-size: 16px;
  border: none;
  outline: none;
  border-radius: 24px;
  background-color: white;
  box-shadow: inset 0 -3px 6px rgba(0, 0, 0, 0.1);
  position: relative;
  gap: 7px;
}

#search-box:hover {
  box-shadow: 0 0px 8px rgba(255, 125, 31, 1); 
}

input {
  width: 90%;
  outline: none;
  border: none;
  font-size: 20px;
  border: none;
  outline: none; 
  border-radius: 24px; 
  background-color: white; 
  position: relative;
}


/* Placeholder text color */
#search-bar::placeholder {
  color: #9e9e9e;
}
#search-box.dark-mode {
  background-color: #2c2c2c;
}
#search-bar.dark-mode {
  background-color: #2c2c2c;
  color: #e0e0e0;
}


.resourcesTitle{
  font-size:18px;
  font-weight: 700;
}
.resourcesPara{
  font-size:25px;
  font-family: cursive;
  margin: 10px;
}
.resourcesDate{
  font-size:25px;
  font-family: cursive;
  margin: 10px;
}

/* Styles for Sort & Filter */

.sort-filter-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 20px;
}

.sort-options, .filter-options {
  display: flex;
  align-items: center;
  gap: 10px;
}

.sort-options select, .filter-options select {
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ddd;
  background-color: white;
  cursor: pointer;
}

.dark-mode .sort-options select, .dark-mode .filter-options select{
  background-color: #2c2c2c;
  color: #e0e0e0;
  border-color: #555;
}

.dark-mode .sort-options label, .filter-options label {
  color: #e0e0e0;
}
/* body{
  background: linear-gradient(180deg, #FDD86C 8.1%, #FF7D1F 100%) !important;

} */


.gradientdd{
  color: rgb(230, 92, 13) !important;
}