.cookieCard {
  width: 300px;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 20px;
  padding: 20px;
  border: solid pink 1px;
  border-radius: 20px !important;
  position: relative;
  overflow: hidden;
}
.light-cookieCard{
    background: white;

}

.cookieCard::before {
  width: 150px;
  height: 150px;
  content: "";
  background: linear-gradient(to right,rgb(142, 110, 255),rgb(208, 195, 255));
  position: absolute;
  z-index: 1;
  border-radius: 50%;
  right: -25%;
  top: -25%;
}

.cookieHeading {
  font-size: 1.5em;
  font-weight: 600;
  color: rgb(241, 241, 241);
  z-index: 2;
}

.cookieDescription {
  font-size: 0.9em;
  color: rgb(241, 241, 241);
  z-index: 2;
}
.light-cookieCard .cookieHeading{
    color: rgb(55, 50, 50) !important;
}
.light-cookieCard .cookieDescription{
    color:rgb(63, 57, 57) !important;
}
.cookieDescription a {
  color: rgb(241, 241, 241);
}
.light-cookieCard .cookieDescription a{
    color: black !important;
}
.acceptButton {
  padding: 11px 20px;
  background-color: #7b57ff;
  transition-duration: .2s;
  border: none;
  color: rgb(241, 241, 241);
  cursor: pointer;
  font-weight: 600;
  z-index: 2;
}

.acceptButton:hover {
  background-color: #714aff;
  transition-duration: .2s;
}