/* styles.css */

/* Reset some default styles */
body,
h1,
p {
  margin: 0;
  padding: 0;
}
/* style search container */
#search-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
/* Style for the search bar */
#search-bar {
  width: 30%;
  height: 2rem;
  margin: 10px;
  margin-top: 1rem;
  padding: 10px; /* Adjust padding as needed */
  font-size: 16px;
  border: none;
  outline: none; /*Not display the default color border*/
  border-radius: 24px; /* Rounded corners */
  background-color: white; /* Light grey background */
  box-shadow: inset 0 -3px 6px rgba(0, 0, 0, 0.1); /* Inner shadow effect */
  position: relative; /* For positioning the search icon */
}

#search-bar:hover {
  border: 2px solid #00ccff; /* Color of border after hover the cursor*/
  box-shadow: 4px 4px 20px #00ccff; /*Shadow effect after hover the cursor*/
}

/* Placeholder text color */
#search-bar::placeholder {
  color: #9e9e9e;
}

header h1 {
  font-size: 80px;
  margin: 10px;
}
/* Set a background color */
body {
  background-color: #f5f5f5;
  font-family: Arial, sans-serif;
}
.logo {
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 1; /* Ensure it's above other content */
}

/* Adjust the logo size as needed */
.logo img {
  width: 200px;
  height: 200px;
}
/* Header styles */
header {
  background-color: #00ccff;
  color: #fff;
  text-align: center;
  padding: 1rem;
}

/* Container for folder cards */
#folders-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* justify-content: space-between; Distribute cards evenly */
  margin-top: 20px;
}

/* Individual folder card */
.folder-card {
  flex: 0 0 calc(25% - 20px); /* Four cards per row (adjust margin as needed) */
  margin: 10px;
  justify-content: center;
  padding: 1.5rem;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.folder-card:hover {
  background-color: white;
  box-shadow: 5px 5px 20px #00ccff;
 transform: scale(1.23);
  transition: 0.5s;
  border-radius: 1.5rem;
  /* font-family: cursive; */
  font-size: 0.9rem;
}

/* Heading for folder name */
.folder-card h3 {
  font-size: 18px;
  margin-bottom: 8px;
}

/* Path text */
.folder-card p {
  font-size: 14px;
  color: #777;
}
