<div class="main-content">
           
    <a href="https://github.com/mdazfar2/HelpOps-Hub">
    <button class="star-button">
        <i class="star-icon"><i class="fas fa-star"></i></i> <!-- This is a star character -->
        Star Us
    </button>
    </a>
      
    <h1>HelpOps-Hub</h1>
    <p>Ensuring You Never Get Stuck In DevOps Again!</p>
    <a href="#get-started">
    <button class="get-started-btn">Get started</button>
    </a>
</div>
