<%- include('../includes/navbar') %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" />
    <link rel="stylesheet" href="./css/nav.css">
    <link rel="stylesheet" href="./css/contactus.css">
    <link rel="stylesheet" href="./css/styles.css">
    <link rel="stylesheet" href="./css/nav.css">
    <link rel="shortcut icon" href="./img/HelpOps-H Fevicon.png" type="image/x-icon">
    <style>
        textarea::placeholder {
            color: #0000006B; /* Change placeholder text color to black */
            text-align: left;
}
#comment {
    border-bottom: solid 2.3px;
    color: #000000;
    
}
    </style>
<body>
    <div class="container">
        <img src="./img/rateus.png" alt="rateus">
        <div class="form-container">
            <h1>Contact Us</h1>
            <form id="contact-form">
                <!-- <label for="name">Name:</label> -->
                <input type="text" id="name" name="name" required placeholder="Name:">



                <!-- <label for="email">Email:</label> -->
                <input type="email" id="email" name="email" required placeholder="Email:">



                <!-- <label for="comment">Comment:</label> -->
                <textarea id="comment" name="comment" required placeholder="Comment:" ></textarea>



                <label for="rating" id="rate">Rating:</label>
                <div id="rating">
                    <span class="star" data-value="1">&#9733;</span>
                    <span class="star" data-value="2">&#9733;</span>
                    <span class="star" data-value="3">&#9733;</span>
                    <span class="star" data-value="4">&#9733;</span>
                    <span class="star" data-value="5">&#9733;</span>
                </div>

                <button type="submit" class="button">Submit</button>
            </form>
        </div>
    </div>

    <footer>
        <p>&copy; HelpOps-Hub | MIT License</p>
        <p>Developed by Azfar Alam &amp; <a href="https://github.com/opensourcecommunity">Open Source Community</a></p>
    </footer>

    <script src="./js/contactus.js"></script>
</body>
</html>
