<%- include('../includes/navbar') %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" />
    <link rel="stylesheet" href="./css/styles.css">
    <link rel="stylesheet" href="./css/nav.css">
    <link rel="stylesheet" href="./css/square.css">
    <link rel="stylesheet" href="./css/resources.css">
    <link rel="shortcut icon" href="./img/HelpOps-H Fevicon.png" type="image/x-icon">
   <style>
    body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background: linear-gradient(180deg, #FDD86C 8.1%, #FF7D1F 100%);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* height: 100vh; */
}
    </style>
<body>
    <div class="heading"><h1>Resources</h1></div>
    <div id="maincontainer">
        <div id="loading">
            <div class="📦"></div>
            <div class="📦"></div>
            <div class="📦"></div>
            <div class="📦"></div>
            <div class="📦"></div>
        </div>
        </div>
        <div id="folders-container"></div>
    <script src="./js/resources.js"></script> 
</body>
<%- include('../includes/footer') %>
